/* media */
$media-list: (
	'xxs': 375,
	'xs': 560,
	'sm': 699,
	'md': 992,
	'lg': 1024,
	'xl': 1450,
	'xxl': 1920
);

/* шрифты */
$mainFont: 'Commissioner', sans-serif;

/* цвета */
$blue: #2879B1;
$blueHover: #2BAEDA;
$blueLight: #44C8F5;
$blueNtn: #34B9E6;
$white: #fff;
$red: #FF858B;
$orange: #BF774E;
$grey: rgba(7, 23, 29, 0.2);
$greyLight: #DADADA;
$greyHover: #f4f4f4;
$greyBg: #f2f2f2;
$greyBorder: #ccc;
$black: #151312;
$fontBlack: #07171D;
$greyBlack: #242E40;
$greyText: #666;

$tr-time: 0.6s;
$tr-time-fast: 0.3s;
$tr-time-slow: 1s;