section.news-list-social
    .container.news-list-social__container
        .news-list-social__title Мы в соцсетях
        +new-btn({
            classes: 'news-list-social__btn',
            vMode: 'big',
            link: 'https://telegram.org/',
            text: 'Telegram',
            icon: 'true',
            cMode: 'white',
        })
        +new-btn({
            classes: 'news-list-social__btn',
            vMode: 'big',
            link: 'https://vk.com/',
            text: 'Vkontakte',
            icon: 'true',
            cMode: 'white',
        })
        +new-btn({
            classes: 'news-list-social__btn',
            vMode: 'big',
            link: 'https://www.whatsapp.com/',
            text: 'Whatsapp',
            icon: 'true',
            cMode: 'white',
        })