-
	const defaultCartCardProps = {
		classes: '',
		title: 'Семга (лосось) потр.с/г 2-3 ord охлажденная',
		image: 'img/product_card_salmon.png',
	}

mixin cart-card(props = defaultCartCardProps)
	-
		const checkProps = {
			classes: props.classes ? props.classes : defaultCartCardProps.classes,
			title: props.title ? props.title : defaultCartCardProps.title,
			image: props.image ? props.image : defaultCartCardProps.image
		}

	.cart-card(class= checkProps.classes)
		.cart-card__photo
			img(src=checkProps.image alt=checkProps.title)
		.cart-card__title!= checkProps.title
		.cart-card__controls
			include ../amount-input/amount-input.pug
			.cart-card__price 500 Р
		+new-btn({
			classes: 'cart-card__delete',
			tag: 'button',
			vMode: 'icon',
			icon: 'true',
			iconName: 'arrow_btn',
			cMode: 'blue',
		})



