//blocks
include ../../../../components/employee-card/employee-card.pug

//components
include ../../../../components/title/title.pug

section.ap-team.js-team-section(data-js='teamEmployeesSection')
	.container
		+title('h2', 'Наша команда', 'ap-team__title')
	.ap-team__cards
		.ap-team__column.ap-team__column--1.js-team__column--1(data-js="teamEmployeesSlider")
			.swiper-wrapper
				+employee-card({
					classes: 'swiper-slide',
				})
				+employee-card({
					classes: 'swiper-slide',
					name: 'Соловьев Владислав',
					position: 'Коммерческий директор',
					hasBtn: true,
				})
				+employee-card({
					classes: 'swiper-slide',
					name: 'Косырева Наталья',
					position: 'Финансовый директор',
					hasBtn: true,				
				})
				+employee-card({
					classes: 'swiper-slide',
					name: 'Кашецкий Юрий',
					position: 'Руководитель отдела маркетинга',
					hasBtn: true,				
				})
		.ap-team__column.ap-team__column--2.js-team__column--2(data-js="teamEmployeesSlider")
			.swiper-wrapper
				+employee-card({
					classes: 'swiper-slide',
					bgColor: "white",
					name: 'Гришин Дмитрий',
					position: 'Руководитель отдела IT',
					hasBtn: true,				
				})
				+employee-card({
					classes: 'swiper-slide',
					bgColor: "white",
					name: 'Лазин Петр',
					position: 'Руководитель отдела ВЭД',
				})
				+employee-card({
					classes: 'swiper-slide',
					bgColor: "white",
					name: 'Алтухов Сергей',
					position: 'Директор производства',
					hasBtn: true,				
				})
				+employee-card({
					classes: 'swiper-slide',
					bgColor: "white",
					name: 'Лондарова Марина',
					position: 'Руководитель отдела доставки',
					hasBtn: true,				
				})
				+employee-card({
					classes: 'swiper-slide',
					bgColor: "white",
					name: 'Хохлов Дмитрий',
					position: 'Руководитель склада в&nbsp;Маланьино',
					hasBtn: true,				
				})
		.ap-team__column.ap-team__column--3.js-team__column--3(data-js="teamEmployeesSlider")
			.swiper-wrapper
				+employee-card({
					classes: 'swiper-slide',
					bgColor: "blue",
					name: 'Муравьев Павел',
					position: 'Руководитель представительства в&nbsp;Калининграде',
					hasBtn: true
				})
				+employee-card({
					classes: 'swiper-slide',
					bgColor: "blue",
					name: 'Соловьева Анастасия',
					position: 'Руководитель склада в&nbsp;Москве'
				})
				+employee-card({
					classes: 'swiper-slide',
					bgColor: "blue",
					name: 'Чугунов Владимир',
					position: 'Руководитель отдела закупок',
					hasBtn: true
				})
				+employee-card({
					classes: 'swiper-slide',
					bgColor: "blue",
					name: 'Бочарова Наталья',
					position: ' Руководитель отдела кадров',
					hasBtn: true
				})
				+employee-card({
					classes: 'swiper-slide',
					bgColor: "blue",
					name: 'Франц Эдвард',
					position: 'Юрист',
					hasBtn: true
				})

