include ../../../../components/l-modal/l-modal
include ../../../../components/input-radio/input-radio
include ../../../../components/input/input

+l-modal("cartOffer", "cart-offer-modal")
    .mob-menu__question__top 
        .mob-menu__question__top__title
            !="ЗАПРОСИТЬ ПЕРСОНАЛЬНОЕ ПРЕДЛОЖЕНИЕ"

    form(action="#" novalidate data-validate).contacts__form.new-form
        .contacts__form__content
            .contacts__form__input-block.input
                input(type="text" name="" required data-v-name='name' data-is-name="true").contacts__form__input.text__13
                .contacts__form__input-block__name 	Имя
                .contacts__form__input-block__error Некорректная имя
            .contacts__form__input-block.input
                input(type="tel" name="" required data-is-tel="true" data-v-name='phone').contacts__form__input
                .contacts__form__input-block__name Телефон
                .contacts__form__input-block__error Некорректный телефон
            .contacts__form__input-block.input                  
                input(type="email" name="" required data-v-name='email').contacts__form__input.text__13
                .contacts__form__input-block__name Почта
                .contacts__form__input-block__error Некорректная почта
            .questions.contacts__form__accordions
                .accordion.contacts__form__accordion
                    .accordion__intro
                        p.title__24.accordion__intro__title Список товаров
                        .accordion__intro__img 
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#header__menu__item__arrow`)
                    .accordion__content
                        .products-list
                            ul.products-list__list
                                li.products-list__item
                                    .products-list__name Товар 1
                                    .products-list__count 5 шт.
                                li.products-list__item
                                    .products-list__name Товар 2
                                    .products-list__count 100 шт.
                                li.products-list__item
                                    .products-list__name Товар 3
                                    .products-list__count 1 шт.
                                li.products-list__item
                                    .products-list__name Товар 4
                                    .products-list__count 14 шт.
                            .products-list__result
                                .products-list__result-title Итого:
                                .products-list__result-summ 9 999 999 ₽

            .contacts__form__inner-block
                .contacts__form__subtitle Способ доставки
                .contacts__form__flex-block(data-group-name="receipt" data-js="formRadioTabs")

                    .contacts__form__input-block.input.input--checkbox
                        label
                            input.input__input(type="radio" name="receipt" data-group-item="selfPickup" checked)
                            .input__fake
                            .input__text!= "Самовывоз"

                    .contacts__form__input-block.input.input--checkbox
                        label
                            input.input__input(type="radio" name="receipt" data-group-item="delivery")
                            .input__fake
                            .input__text!= "Служба доставки SkyFish"                          

                    .contacts__form__radio-block.active(data-group-block="selfPickup")
                        .contacts__form__input-block.input
                            select.contacts__form__select.js-mob-menu__stock__select(name="" preloader="Склад1" data-v-name='select' required)
                                option 
                                option Склад1
                                option Склад2
                                option Склад3
                                option Склад4
                                option Склад5
                                .localities-centers__select-arrow
                                    svg
                                        use(xlink:href=`img/sprites/sprite.svg#select_arrow`)
                            .contacts__form__input-block__error Необходимо выбрать склад


            .contacts__form__input-block
                textarea(name="" rows="3").contacts__form__input.text__13
                .contacts__form__input-block__name 	Комментарий

            .contacts__form__input-block.input.input--checkbox
                label
                    input.input__input(type="checkbox" name="checkbox" data-v-name="checkbox" required)
                    .input__fake
                    .input__text Согласие на обработку персональных данных
                .contacts__form__input-block__error Обязательно нужно согласиться

        button.btn.mob-menu__question__bottom(type='submit')
            .mob-menu__question__bottom__text Отправить
            .mob-menu__question__bottom__row
                svg
                    use(xlink:href=`img/sprites/sprite.svg#arrow_btn`)
