.cart-offer-modal {
	.contacts__form {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 0;
		margin: 0;

		&__input-block {
			border-bottom: none;

			textarea {
				min-height: auto;
			}
		}

		&__content {
			width: 100%;
			padding: 0 vw(29);
			flex-basis: auto;
			flex-grow: 1;
			flex-shrink: 1;
			overflow-y: auto;
			scrollbar-width: thin;
			scrollbar-color: #99c4d3 rgba(0, 0, 0, 0);

			@include max(xl) {
				padding: 0 vwf(29);
			}

			@include max(md) {
				padding: 0 vw2(29);
			}

			&::-webkit-scrollbar {
				height: 2px;
				width: 2px;
			}

			&::-webkit-scrollbar-track {
				background: rgba(0, 0, 0, 0);
			}

			&::-webkit-scrollbar-thumb {
				background-color: #99c4d3;
				border-radius: 10px;
				border: none;
			}
		}

		&__title {
			margin-bottom: vw(30);
			font-size: vw(32);
			font-weight: 500;
			line-height: 1, 06em;

			@include max(xl) {
				margin-bottom: vwf(30);
				font-size: vwf(32);
			}

			@include max(md) {
				margin-bottom: vw2(30);
				font-size: vw2(32);
			}
		}

		.mob-menu__question__bottom.btn {
			margin-top: auto;
			max-width: 100%;
			flex-grow: 0;
			flex-shrink: 0;
		}
	}

	.products-list {
		&__list {
			display: flex;
			flex-direction: column;
			gap: vw(8);

			@include max(xl) {
				gap: vwf(8);
			}

			@include max(md) {
				gap: vw2(8);
			}
		}

		&__item {
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-size: vw(18);
			font-weight: 400;

			@include max(xl) {
				font-size: vwf(18);
			}

			@include max(md) {
				font-size: vw2(18);
			}
		}

		&__name {
			flex: 0 0 50%;
		}

		&__count {
			flex: 0 0 50%;
			text-align: end;
		}

		&__result {
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-size: vw(20);
			font-weight: 700;
			margin-top: vw(12);

			@include max(xl) {
				font-size: vwf(20);
				margin-top: vwf(12);
			}

			@include max(md) {
				font-size: vw2(20);
				margin-top: vw2(12);
			}
		}
	}

}