-
	const defaultLWalkProps = {
		classes: '',
		title: 'Виртуальная прогулка<br>по складскому помещению и автопарку',
		slides: [
			{
				image: 'img/walk_1.jpg',
				caption: 'Короткое описание 1'
			},
			{
				image: 'img/walk_2.jpg',
				caption: 'Короткое описание 2'
			},
			{
				image: 'img/walk_3.jpg',
				caption: 'Короткое описание 3'
			},
			{
				image: 'img/walk_4.jpg',
				caption: 'Короткое описание 4'
			},
			{
				image: 'img/walk_5.jpg',
				caption: 'Короткое описание 5'
			},
			{
				image: 'img/walk_6.jpg',
				caption: 'Короткое описание 6'
			},
			{
				image: 'img/walk_7.jpg',
				caption: 'Короткое описание 7'
			},
			{
				image: 'img/walk_8.jpg',
				caption: 'Короткое описание 8'
			},
			{
				image: 'img/walk_9.jpg',
				caption: 'Короткое описание 9'
			},
			{
				image: 'img/walk_10.jpg',
				caption: 'Короткое описание 10'
			},
			{
				image: 'img/walk_11.jpg',
				caption: 'Короткое описание 11'
			},
			{
				image: 'img/walk_12.jpg',
				caption: 'Короткое описание 12'
			},
			{
				image: 'img/walk_13.jpg',
				caption: 'Короткое описание 13'
			},
			{
				image: 'img/walk_14.jpg',
				caption: 'Короткое описание 14'
			},
			{
				image: 'img/walk_15.jpg',
				caption: 'Короткое описание 15'
			},
			{
				image: 'img/walk_16.jpg',
				caption: 'Короткое описание 16'
			},
			{
				image: 'img/walk_17.jpg',
				caption: 'Короткое описание 17'
			},
			{
				image: 'img/walk_18.jpg',
				caption: 'Короткое описание 18'
			},
			{
				image: 'img/walk_19.jpg',
				caption: 'Короткое описание 19'
			},
			{
				image: 'img/walk_20.jpg',
				caption: 'Короткое описание 20'
			},

		]
	}

mixin l-walk(props = defaultLWalkProps)
	include ../../components/title/title.pug
	include ../../components/new-btn/new-btn.pug

	-
		const checkProps = {
			classes: props.classes ? props.classes : defaultLWalkProps.classes,
			title: props.title ? props.title : defaultLWalkProps.title,
			slides: props.slides ? props.slides : defaultLWalkProps.slides,
		};

	section.l-walk(class= checkProps.classes data-js="lWalk")
		.container
			.l-walk__header
				+title("h2", checkProps.title, "l-walk__title")
				+new-btn({
					classes: 'l-walk__btn',        
					text: 'показать еще',
					cMode: 'blue',
					vMode: 'big'
				})(data-js="openlWalkGallery")
			.l-walk__slider(data-js="lWalkSlider")
				.swiper-wrapper

					- let i = 0
					- while(i < checkProps.slides.length)
						.swiper-slide.l-walk__slide
							a.l-walk__img(href=checkProps.slides[i].image data-fancybox="societyAwards" data-caption=checkProps.slides[i].caption)
								img(src=checkProps.slides[i].image alt=checkProps.slides[i].caption)
						- i++

				.l-walk__control.swiper-button-prev
					svg
						use(xlink:href=`img/sprites/sprite.svg#arrow_btn`)
				.l-walk__control.swiper-button-next
					svg
						use(xlink:href=`img/sprites/sprite.svg#arrow_btn`)

