.l-walk {
    overflow-x: hidden;
    padding: vw(22) 0 vw(166);
    @include max(md) {
        padding: vw2(25) 0 vw2(80);
    } 
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        @include max(md) {
            flex-direction: column;
        } 
    }
    &__title {
        max-width: vw(1130);
        font-size: vw(82);
        @include max(md) {
            max-width: 100%;
        } 
    }
    &__btn {
        flex-basis: vw(411);
        flex-shrink: 0;
        flex-grow: 0;
        margin-top: vw(12);
        @include max(md) {
            flex-basis: auto;
            margin-top: vw2(20);
            max-width: vw2(260);
        } 
    }
    &__slider {
        position: relative;
        margin-top: vw(100);
        &:hover {
            .l-walk__control {
                opacity: 1;
            }
        }
        @include max(md) {
            margin-top: vw2(40);
        } 
    }
    &__slide {
        width: fit-content;
        max-width: vw(534);
        @include max(md) {
            max-width: vw2(536);
        } 
    }
    &__img {
        display: block;
        position: relative;
        max-height: vw(700);
        max-width: vw(534);
        @include max(md) {
            max-height: vw2(530);
            width: auto;
            max-width: vw2(536);
        } 
        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 5;
            transition: all $tr-time;
        }
        &:hover::after {
            transition: all $tr-time;
            content: url(../img/zoom.svg);
            background: rgba(27, 31, 34, 0.6);
        }
        img {
            width: 100%;
            height: 100%;
            max-height: vw(700);
            max-width: vw(534);
            object-fit: contain;
            @include max(md) {
                max-height: vw2(530);
                width: auto;
                max-width: vw2(536);
            } 
        }
    }
    &__text {
        margin-top: vw(20);
        @include max(md) {
            margin-top: vw2(20);
        } 
    }
    &__control {
        width: vw(59);
        height: vw(59);
        background-color: $blueLight;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        transition: $tr-time;
        top: 53.5%;
        opacity: 0;
        @include max(md) {
            width: vw2(50);
            height: vw2(50);
            opacity: 1;
            top: vw2(-70);
        } 
        &::after {
            content: none;
        }
        &:hover {
            background-color: $blueHover;
        }
        svg {
            width: vw(11);
            height: vw(8);
            @include max(md) {
                width: vw2(11);
                height: vw2(8);
            } 
            use {
                stroke: $white;
                fill: none;
                width: vw(11);
                height: vw(8);
                @include max(md) {
                    width: vw2(11);
                    height: vw2(8);
                } 
            }
        } 
        &.swiper-button-prev {
            transform: rotate(180deg);
            left: 0;
            @include max(md) {
                right: vw2(70);
                left: auto;
            } 
        }
        &.swiper-button-next {
            right: 0;
        }
    }
}