.section__header {
	position: fixed;
	top: -100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	height: vw(90);
	padding: 0;
	background: #FFF;
	z-index: 9999;
	box-sizing: border-box;
	border-bottom: 1px solid  rgba(0, 0, 0, 0.2);
	transition: 2s;
	@include max(md) {
		height: vw2(70);
	}


	.layout {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		flex-flow: row nowrap;
		width: 100%;
		height: 100%;
		&__col {
			position: relative;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			flex-flow:  row nowrap;
			padding: 0;
			&:nth-child(1) {
				width: auto;
				max-width: 100%;
				flex: 1 0 auto;
				border: none;
				@include max(md) {
					justify-content: space-between;
				}

			}
			&:nth-child(2) {
				width: auto;
				max-width: 100%;
				flex: 0 0 auto;
				border: none;
				justify-content: flex-end;
				@include max(md) {
					display: none;
				}

			}
		}
	}
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 100%;
		height: 100%;
	}

}


.header--small .section__header{
	@include min(md) {
		height: vw(70);
	}

}

.header {
	&__logo {
		display: flex;
		position: relative;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		width: vw(194);
		min-width: vw(194);
		background: $blueLight;
		height: 100%;
		@include max(md) {	
			width: auto;
			min-width: auto;
			padding: vw2(10) vw2(20);
			height: vw2(70);
		}
		img {
			transition: all $tr-time;
			position: relative;
			display: inline-block;
			width: vw(153);
			object-fit: contain;
			@include max(md) {
				width: vw2(153);
			}

		}
		
	
	}
	&__menu {
		position: relative;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: fit-content;
		&__humb {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			width: vw(97);
			height: 100%;
			border-right: 1px solid $grey;
			cursor: pointer;
			background-image: url(../img/svg/hamburger.svg);
			background-position: center center;
			background-size: 50% 50%;
			background-repeat: no-repeat;
			transition: all $tr-time;
			@include max(md) {
				width: vw2(90);
				border-right: none;
   		}
			img {
				position: relative;
				display: block;
				width: vw(47);
				@include max(md) {
					width: vw2(90);
				}
			}

			&:hover {
				transition: all $tr-time;
				background-image: url(../img/svg/hamburger--blue.svg);
			}
		}
		&__item {
			position: relative;
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			color: #212A39;
			text-align: center;
			font-size: vw(13);
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			letter-spacing: vw(0.325);
			text-transform: uppercase;
			white-space: nowrap;
			text-decoration: none;
			margin-right: vw(42);
			height: 100%;
			cursor: pointer;
			transition: all $tr-time;
			border-bottom: 1px solid transparent;
			&:hover {
				color: $blue;
				transition: all $tr-time;
				.js-row {
					animation-name: rotationOpenMenuSidebar;
					animation-duration: .2s;
					animation-iteration-count: 1;
					animation-timing-function: linear;
					animation-fill-mode: forwards;
				}
			}
			.js-row {

				animation-name: rotationCloseMenuSidebar;
				animation-duration: .2s;
				animation-iteration-count: 1;
				animation-timing-function: linear;
				animation-fill-mode: forwards;
			}
			&__icon {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				margin-right: vw(6);
				svg {
					position: relative;
					display: block;
					width: 100%;
					height: 100%;
				}
			}
			&__arrow {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				width: vw(7);
				margin-left: vw(4);
				
				svg,img {
					width: 100%;
					height: 100%;
					display: block;
					position: relative;
				}
			}
			.m-top{
				position: absolute;
				right: vw(-12);
				top: vw(5);
			}
		}
		&__list {
			position: absolute;
			top: calc(100% - 1px);
			left: 0px;
			display: flex;
			visibility: hidden;
			justify-content: flex-start;
			align-items: flex-start;
			padding: vw(27);
			width: auto;
			min-width: 100%;
			flex-flow: column nowrap;
			opacity: 0;
			transition: all $tr-time;
			border-top: 3px solid $blueHover;
			background: $blueLight;
			&.active {
				display: flex;
				opacity: 1;
				transition: all $tr-time;
				visibility: inherit;
			}
			&__item {
				position: relative;
				display: flex;
				justify-content: flex-start;
				align-items: flex-start;
				text-align: center;
				color: #FFF;
				font-size: vw(18);
				font-style: normal;
				font-weight: 400;
				line-height: 140.625%;
				margin-bottom: vw(17);
				text-transform: none;
				width: 100%;
				&:last-child {
					margin-bottom: 0;
					padding-bottom: 0;
					border-bottom: 0;
				}
				a{
					position: relative;
					display: flex;
					justify-content: flex-start;
					align-items: flex-start;
					text-align: center;
					color: #FFF;
					font-size: vw(18);
					font-style: normal;
					font-weight: 400;
					line-height: 140.625%;
					text-decoration: none;
					transition: all $tr-time;
					&:hover {
						transition: all $tr-time;
						color: $white;

					}
				}

			}
		}
		&--all-menu {
			position: absolute;
			top: calc(100% + vw(0));
			left: vw(-283);
			display: flex;
			visibility: hidden;
			justify-content: flex-start;
			align-items: stretch;
			padding: vw(26) vw(31) vw(42) vw(31);
			background:  #fff;
			flex-flow: row nowrap;
			width: calc(100vw - 0px);
			opacity: 0;
			border-radius: 0;
			transition: all $tr-time;
			z-index: 100;
			&.active {
				display: flex;
				opacity: 1;
				transition: all $tr-time;
				visibility: inherit;
			}
			&__list {
				position: relative;
				display: flex;
				justify-content: flex-start;
				align-items: flex-start;
				flex-flow: column nowrap;
				padding-left: vw(35);
				padding-right: vw(35);
				border-right: 1px solid rgba(0, 0, 0, 0.2);
				
				&:first-child {
					padding-left: 0;
				}
				&:last-child {
					border-right: none;
					padding-right: 0;
				}
				&__title {
					position: relative;
					display: inline-block;
					width: 100%;
					white-space: wrap;
					color: $black;
					font-size: vw(24);
					font-style: normal;
					font-weight: 500;
					line-height: vw(30);
					letter-spacing: vw(-0.4);
					list-style-type: none;
					text-align: left;
					margin-bottom: vw(76);
					max-width: vw(380);
					min-height: vw(90);
					text-transform: none;
				}
				&__item {
					position: relative;
					display: flex;
					justify-content: flex-start;
					align-items: flex-start;
					color: $black;
					font-size: vw(13);
					font-style: normal;
					font-weight: 500;
					line-height: normal;
					letter-spacing: vw(0.325);
					text-transform: uppercase;
					margin-bottom: vw(10);
					text-transform: none;
					width: 100%;
					max-width: vw(170);
					height: auto;
					&:last-child {
						margin-bottom: 0;
					}
					a{
						position: relative;
						display: inline-block;
						color: $black;
						font-size: vw(13);
						font-style: normal;
						font-weight: 500;
						line-height: normal;
						letter-spacing: vw(0.325);
						text-transform: uppercase;
						text-decoration: none;
						transition: all $tr-time;
						width: 100%;
						height: auto;
						white-space: wrap;
						text-align: left;
						&:hover {
							transition: all $tr-time;
							color: $blue;
						}
					}
				}
			}

		}
	}
	&__other {
		position: relative;
		display: flex;
		justify-content: flex-end;
		align-items: stretch;
		flex-flow: row nowrap;
		width: fit-content;
		height: 100%;
		@include max(md) {
			display: none;
		}
		&__item {
			position: relative;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			color: #07171D;
			text-align: center;
			font-size: vw(14);
			font-style: normal;
			font-weight: 600;
			line-height: normal;
			text-transform: uppercase;
			text-decoration: none;
			white-space: nowrap;
			color: $black;
			transition: all $tr-time;
			padding-left: vw(24);
			cursor: pointer;
			@include max(md) {
				font-size: vw2(20);
				font-style: normal;
				line-height: 1.2;
				margin-right: vw(20);
			} 
			svg {
				position: relative;
				width: vw(25);
				height: vw(27);
			}
			&--soc {
				padding-right: vw(36);
				&__item {
					position: relative;
					display: flex;
					text-decoration: none;
					justify-content: center;
					align-items: center;
					margin-right: vw(18);
					transition: all $tr-time;
					&:last-child {
						margin-right: 0;
					}
					svg {
						use {
							transition: all $tr-time;
							fill: $fontBlack;
						}
					}
					&:hover {
						transition: all $tr-time;
						svg {
							use {
								fill: $blueHover;
								transition: all $tr-time;
							}
						}
					}
				}
			} 
			&--place {
				min-width: vw(167);
				padding-left: vw(26);
				padding-right: vw(31);
				border-right: 1px solid $grey;
				.header__menu__item__icon svg use {
					fill: $blueLight;
				}
			}
			&--button {
				padding-left: 0;
				padding-right: 0;
			}
			&--personal {
				position: relative;
				border-left: 1px solid $grey;
				min-width: vw(88);
				padding-left: 0;
				padding-right: 0;
				justify-content: center;
				transition: all $tr-time;
				svg {
					use {
						transition: all $tr-time;
					}
				}
				&:hover {
					fill: $fontBlack;
					svg {
						use {
							fill: $blueHover;
							transition: all $tr-time;
						}
					}
				}
			}
			&--cart {
				position: relative;
				border-left: 1px solid $grey;
				min-width: vw(88);
				padding-left: 0;
				padding-right: 0;
				justify-content: center;
				svg {
					use {
						transition: all $tr-time;
						fill: $fontBlack;
					}
				}
				&:hover {
					transition: all $tr-time;
					svg {
						use {
							fill: $blueHover;
							transition: all $tr-time;
						}
					}
				}
				&__icon {
					position: relative;
					display: inline-block;
				}
				&__value {
					position: absolute;
					top: vw(25);
					right: vw(20);
					display: flex;
					justify-content: center;
					align-items: center;
					width: vw(23);
					height: vw(23);
					border: 2px solid #fff;
					border-radius: 50%;
					font-size: vw(14);
					color: #fff;
					background: $blueLight;
					font-style: normal;
					font-weight: 600;
					line-height: 1;
					text-transform: uppercase;
					@include max(md) {
						font-size: vw2(20);
						line-height: 1.2;
						margin-right: vw2(20);
					} 
				}
				
			}
			&--lang {
				min-width: vw(100);
				padding-left: 0;
				padding-right: 0;
				justify-content: center;
			}
			&--search {
				position: relative;
				border-left: 1px solid $grey;
				min-width: vw(88);
				padding-left: 0;
				padding-right: 0;
				justify-content: center;
				&__btn {
					position: relative;
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					cursor: pointer;
					svg {
						use {
							transition: all $tr-time;
							stroke: $fontBlack;
							stroke-width: 2;
						}
					}
					&:hover {
						transition: all $tr-time;
						svg {
							use {
								stroke: $blueHover;
								transition: all $tr-time;
							}
						}
					}
				}

			}
			&:hover {
				color: $blue;
				transition: all $tr-time;
				.js-row {
					animation-name: rotationOpenMenuSidebar;
					animation-duration: .2s;
					animation-iteration-count: 1;
					animation-timing-function: linear;
					animation-fill-mode: forwards;
				}
			}
			.js-row {

				animation-name: rotationCloseMenuSidebar;
				animation-duration: .2s;
				animation-iteration-count: 1;
				animation-timing-function: linear;
				animation-fill-mode: forwards;
			}
			&:last-child {
				margin-right: 0;

			}
			&:hover {
				color: $blue;
				transition: all $tr-time;

			}
			img, svg {
				transition: all $tr-time;
			}
		}
		&__top {
			position: relative;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			a{
				position: relative;
				display: flex;
				justify-content: flex-start;
				align-items: stretch;
				color: #07171D;
				text-align: center;
				font-size: vw(14);
				font-style: normal;
				font-weight: 600;
				line-height: normal;
				text-transform: uppercase;
				text-decoration: none;
				transition: all $tr-time;
				@include max(md) {
					font-size: vw2(20);
					line-height: 1.2;
					margin-right: vw(20);
			} 
				&:hover {
					transition: all $tr-time;
					color: $blue;
				}
			}
		}
		&__fone {
			margin-right: 0;
			&--mob {
				display: none;
				@include max(md) {
					display: flex;
				}
			}
			&--desc {
				@include max(md) {
					display: none;
				}
			}
		}
		&__button {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			color: $blueLight;
			font-size: vw(14);
			font-style: normal;
			font-weight: 600;
			line-height: normal;
			text-transform: uppercase;
			width:	100%;
			border-right: 1px solid $grey;
			border-left: 1px solid $grey;
			background: transparent;
			transition: all $tr-time;
			@include max(md) {
				font-size: vw2(20);
				font-style: normal;
				line-height: 1.2;
				margin-right: vw(20);
		} 
			&:hover {
				color: #fff;
				background: $blueLight;
				transition: all $tr-time;
				border-right: 1px solid $blueLight;
				border-left: 1px solid $blueLight;
			}
			.btn {
				@include max(md) {
					min-height: vw2(49);
				}
			}
		}
	}

}
.search {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	height: vw(90);
	visibility: hidden;
	width: 0;
	background: transparent;
	transition: all $tr-time;
	z-index: 9999;
	border-right: none;
	&--overlay {
		position: fixed;
		visibility: hidden;
		left: 0;
		top: 0;
		display: block;
		width: 0vw;
		height: 100vh;
		background: rgba(7, 23, 29, 0.4);
		z-index: 10;
	}
	&.active {
		transition: all $tr-time;
		height: vw(90);
		width: vw(1000);
		visibility: inherit;
		.search--overlay {
			visibility: inherit;	
			width: 100vw;

		}
		.search__btn {
			display: flex;
		}
		.search__select {
			display: flex;
		}
		.search__inter {
			display: flex;
		}
		.search__result {
			display: flex;
		}
	}
	&__content {
		position: relative;
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		height: vw(90);
		background: #fff;
		border: 3px solid #44C8F5;
		box-sizing: border-box;
		z-index: 9999;
	}
	&__clear {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: vw(170);
		width: vw(50);
		height: vw(50);
		display: flex;
		align-items: center;
		justify-content: center;
		border: none;
		cursor: pointer;
		opacity: 0.8;
		svg {
			width: vw(30);
			height: vw(30);
			use {
				fill: $fontBlack;
				stroke: $fontBlack;
			}
		}
	}
	&__inter  {
		position: relative;
		width: 100%;
		height: calc(100% - 0px);
		display: none;
		justify-content: flex-start;
		align-items: flex-start;
		input {
			position: relative;
			width: 100%;
			height: 100%;
			color: #07171D;
			font-size: vw(14);
			font-style: normal;
			font-weight: 600;
			line-height: normal;
			text-transform: uppercase;
			padding-right: vw(180);		
			border-right: none;
			padding-left: vw(23);
			background: #fff;
			cursor: pointer;
			border: 0px solid #44C8F5;
			transition: all $tr-time;
			@include max(md) {
				font-size: vw2(20);
				line-height: 1.2;
				margin-right: vw2(20);
		} 
			&::placeholder {
				color: #07171D;
				font-size: vw(14);
				font-style: normal;
				font-weight: 600;
				line-height: normal;
				text-transform: uppercase;
				@include max(md) {
					font-size: vw2(20);
					line-height: 1.2;
					margin-right: vw(20);
			} 
			}
			&:hover {       
					border: none; 
					border-bottom: none;
					transition: all $tr-time;
			}
			&:focus { 
					border: none; 
					border-bottom: none;
					transition: all $tr-time;
			}
			&:active { 
					border: none; 
					border-bottom: none;
					transition: all $tr-time;
			}
			&:focus-visible {
					outline: none;
			}

		}
	}
	&__select  {
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		display: none;
		justify-content: flex-end;
		align-items: center;
		padding-right:vw(22);
		z-index: 9999;
		.header__other__item {
			height: 100%;
			.header__menu__list {
				top: 100%;
				z-index: 9999;
			}
		}
	}
	&__btn {
		position: relative;
		display: none;
		justify-content: space-between;
		align-items: center;
		width: vw(295);
		height: 100%;
		background: $blueLight;
		padding-left: vw(22);
		padding-right: vw(22);
		transition: all $tr-time;
		&:hover {
			transition: all $tr-time;
			background: $blueHover;
		}
		&__row {
			svg {
				width: vw(26);
				height: vw(18);
				use {
					width: 100%;
					height: 100%;
					stroke: $white;
				}
			}
		}
		&__text {
			color: #fff;
			font-size: vw(14);
			font-style: normal;
			font-weight: 600;
			line-height: normal;
			text-transform: uppercase;
			@include max(md) {
				font-size: vw2(20);
				line-height: 1.2;
				margin-right: vw(20);
		} 
		}
	}
	&__result {
		position: absolute;
		top: vw(90);
		right: 0;
		width: 100%;
		display: none;
		justify-content: flex-start;
		align-items: flex-start;
		background: #fff;
		z-index: 9995;
		flex-flow: column;
		&__item {
			position: relative;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			width: 100%;
			border-bottom: 1px solid rgba(0, 0, 0, 0.2);
			padding-bottom: vw(31);
			padding-left: vw(13);
			padding-right: vw(13);
			transition: all $tr-time;
			&:last-child {
				border: none;
			}
			&:hover {
				transition: all $tr-time;
				background: rgba(0, 0, 0, 0.2);
			}
			&__picture {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				width: vw(129);
				height: vw(124);
				margin-right: vw(59);
				img {
					position: relative;
					display: block;
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center center;
				}
			}
			&__desc{
				position: relative;
				display: flex;
				flex-flow: column nowrap;
				justify-content: flex-start;
				align-items: flex-start;
				width: 100%;

			}
			&__title {
				position: relative;
				width: 100%;
				white-space: wrap;
				text-align: left;
				color: #07171D;
				font-size: vw(24);
				font-style: normal;
				font-weight: 500;
				line-height: 97.228%;
				margin-bottom: vw(12);
				max-width: vw(420);
			}
			&__art {
				color: #151212;
				font-size: vw(14);
				font-style: normal;
				font-weight: 600;
				line-height: normal;
				text-transform: uppercase;
				@include max(md) {
					font-size: vw2(20);
					line-height: 1.2;
					margin-right: vw2(20);
			} 			
			}
		}
		&__btn {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			min-height: vw(80);
			background: #07171D;
			transition: all $tr-time;
			width: 100%;
			&:hover {
				transition: all $tr-time;
				background: #2BAEDA;
			}

		}
	}
}
.header--small .mob-menu__section{
	@include min(md) {
		top:vw(70);
	}
}
.mob-menu {
	position: relative;
	display: flex;
	width: 100%;
	max-width: vw(1006);
	padding: vw(32) vw(30) vw(32) vw(20);
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	z-index: 9999;
	background: #fff;
	height: calc(100vh - vw(90));
	overflow-y: auto;
	@include max(md) {
		max-width: 90%;
		padding:  vw2(20);
		height: calc(100vh - vw2(70));
	}
	&__wrap {
		position: relative;
		padding-right: vw(8);
		background: #fff;
		z-index: 9999;
		min-height: 100%;
	}
	&::-webkit-scrollbar {
		width: vw(10);
		background-color: #fff;
	}
	
	&::-webkit-scrollbar-thumb {
		border-radius: 0px;
		background-color: rgba(205, 209, 210, 0.23);
	}
	
	&::-webkit-scrollbar-track {
		border-radius: 0px;
		background-color: #fff;
	}
	&__section {
		position: fixed;
		top: vw(90);	
		left: -100vw;
		width: 0vw;
		height: 100vh;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		overflow: hidden;
		transition: all $tr-time-slow;
		z-index: 999;
		@include max(md) {
			top: vw2(70);	
			height: calc(100vh - vw2(70));
		}

		&.active {
			transition: all $tr-time-slow;
			width: 100vw;
			height: 100vh;
			left: 0;
		}
	}
	&__link {
		position: relative;
		display: block;
		margin-bottom: vw(28);
		color: #07171D;
		font-size: vw(45);
		font-style: normal;
		font-weight: 500;
		line-height: 97.228%;
		text-transform: uppercase;
		transition: all $tr-time;
		cursor: pointer;
    	@include max(md) {
			font-size: vw2(32);
			line-height: 1.2;
		}
		&:hover {
			transition: all $tr-time;
			color: $blueHover;
		}
	}
	&--close {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		right: 10px;
		top: 10px;
	} 
	&--overlay {
		position: absolute;
		left: 0;
		right: 0;
		display: block;
		width: 100%;
		height: 100%;
		background: rgba(7, 23, 29, 0.5);
		z-index: 990;
	}
	&__list {
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		width: 100%;
		justify-content: flex-start;
		align-items: flex-start;
		margin-bottom: vw(28);
		padding-left: vw(8);
		cursor: pointer;
		@include max(md) {
			margin-bottom: vw2(20);
			padding-left: vw2(15);
		}
		&:hover {
			transition: all $tr-time;
			color: $blueHover;
		}
		&__item {
			position: relative;
			display: block;
			color: #07171D;
			font-size: vw(14);
			font-style: normal;
			font-weight: 600;
			line-height: normal;
			text-transform: uppercase;
			margin-bottom: vw(15);
			text-decoration: none;
			transition: all $tr-time;
			cursor: pointer;
			@include max(md) {
				font-size: vw2(20);
				line-height: 1.2;
				margin-right: vw(20);
		} 
			&:hover {
				transition: all $tr-time;
				color: $blueHover;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&--item {
		position: relative;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
		color: $black;
		font-size: 14px;
		font-style: normal;
		font-weight: 550;
		line-height: normal;
		letter-spacing: 0.7px;
		text-transform: uppercase;
		a {
			position: relative;
			display: flex;
			transition: all $tr-time;
			color: $black;
			font-size: 14px;
			font-style: normal;
			font-weight: 550;
			line-height: normal;
			letter-spacing: 0.7px;
			text-transform: uppercase;
			&:hover {
				color: $greyBlack;
				transition: all $tr-time;
			}
			text-decoration: none;		
		}
	}
	&__fone {
		position: relative;
		display: block;
		color: $white;
		text-align: right;
		font-size: vw(22);
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: vw(1.1);
		text-transform: uppercase;
		margin-bottom: vw(20);

		a {
			display: block;
			text-decoration: none;
			position: relative;
			color: $white;
			text-align: right;
			font-size: vw(22);
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			letter-spacing: vw(1.1);
			text-transform: uppercase;
			transition: all $tr-time;
			&:hover {
				transition: all $tr-time;
				color: $blue;
			}		
		}

	}
	&__top {
		position: relative;
		display: flex;
		width: 100%;
		justify-content: flex-start;
		align-items: flex-start;
		flex-flow: column nowrap;
		margin-bottom: 32px;
		border-bottom: 1px solid $black;
		&__row {
			position: relative;
			display: flex;
			width: 100%;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 26px;
		}
	}
	&__bottom {
		position: relative;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-flow: column nowrap;
	}
	.header__other__user {
		svg {
			margin-right: 10px;
		}
	}
	.header__other__lang {
		margin-right: 0;

	}
	.soc {
		position: relative;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-flow: row nowrap;
		left: auto;
		top: auto;
		margin-top: vw(22);
		margin-left: vw(-12);
		&__text {
			display: none;
		}
		&__item {
			display: flex;
			justify-content: center;
			align-items: center;
			color: #fff;
			font-size: vw(14);
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			letter-spacing: vw(0.7);
			text-decoration: none;
			width: vw(24);
			height: vw(24);
			transition: all $tr-time;
			border-radius: vw(7);
			margin-left: vw(20);
			&__text {
				display: none;
			}
			&__picture {
				position: relative;
				width: 100%;
				height: 100%;
				display: block;
				img {
					position: relative;
					display: block;
					width: 100%;
					height: 100%;
				}
			}
			&:hover {
				transition: all $tr-time;
				background: rgba(255, 255, 255, 0.21);
			}
		}
	}

	&__city {
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: flex-start;
		background: #fff;
		width: vw(457);
		padding-top: vw(24);
		z-index: 991;
		@include max(md) {
			width: 100%;
			max-width: 100%;
			padding-top: vw2(20);     
	}
		&__top {
			position: relative;
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			width: 100%;
			margin-bottom: vw(67);
			padding-left: vw(24);
			padding-right: vw(24);
			@include max(md) {
				margin-bottom: vw2(67);
				padding-left: vw2(20);
				padding-right: vw2(20);  
			}
			&__title {
				color: #07171D;
				font-size: vw(32);
				font-style: normal;
				font-weight: 500;
				line-height: 106%;
				text-transform: uppercase;
				@include max(md) {
					font-size: vw2(28);
					line-height: 1.2;
			}
			}
			&__close {
				position: relative;
				width: vw(57);
				height: vw(57);
				border-radius: 50%;
				background: $blueLight;
				display: flex;
				justify-content: center;
				align-items: center;
				transition: all $tr-time;
				cursor: pointer;
				@include max(md) {
					width: vw2(40);
					height: vw2(40);
				}
				&:hover {
					transition: all $tr-time;
					background: $blueHover;
				}
				svg {
					width: vw(20);
					height: vw(20);
					use {
						width: 100%;
						height: 100%;
						fill: $white;
					}
				}
			}
		}
		&__select {
			position: relative;
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			width: 100%;
			margin-bottom: vw(28);
			padding-left: vw(24);
			padding-right: vw(24);
			@include max(md) {
				margin-bottom: vw2(20);
				padding-left: vw2(20);
				padding-right: vw2(20);
			}
		}
		&__bottom {
			position: relative;
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			min-height: vw(75);
			background: $blueLight;
			padding-left: vw(24);
			padding-right: vw(24);
			transition: all $tr-time;
			cursor: pointer;
			@include max(md) {
				min-height: vw2(65);
				padding-left: vw2(20);
				padding-right: vw2(20);
			}
			&:hover {
				transition: all $tr-time;
				background: $blueHover;
			}
			&__row {
				svg {
					width: vw(14);
					height: vw(12);
					use {
						width: 100%;
						height: 100%;
						stroke: $white;
					}
				}
			}
			&__text {
				color: #fff;
				font-size: vw(14);
				font-style: normal;
				font-weight: 600;
				line-height: normal;
				text-transform: uppercase;
				@include max(md) {
					font-size: vw2(20);
					line-height: 1.2;
					margin-right: vw(20);
			} 
			}
		}
		&__section {
			transition: all $tr-time-slow;
			&.active {
				transition: all $tr-time-slow;
			}
		}
	}
	&__question {
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: flex-start;
		background: #fff;
		width: 100%;
		max-width: vw(665);
		padding-top: vw(30);
		height: 100vh;
		z-index: 9999;
		overflow: auto;
		&__section {
			justify-content: flex-end;
			top: 0;
			height: 100vh;
			z-index: 9999;
			left: auto;
			transition: all $tr-time;
			right: -100vw;
			&.active {
				transition: all $tr-time;
				width: 100vw;
				height: 100vh;
				left: auto;
				right: 0;
			}
		}
		&__top {
			position: relative;
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			width: 100%;
			margin-bottom: vw(56);
			padding-left: vw(30);
			padding-right: vw(30);
			&__title {
				position: relative;
				width: 100%;
				max-width: vw(505);
				color: #07171D;
				font-size: vw(32);
				font-style: normal;
				font-weight: 500;
				line-height: 106%;
				text-transform: uppercase;	
			}
			&__close {
				position: relative;
				width: vw(57);
				height: vw(57);
				border-radius: 50%;
				background: $blueLight;
				display: flex;
				justify-content: center;
				align-items: center;
				transition: all $tr-time;
				cursor: pointer;
				svg {
					width: vw(20);
					height: vw(20);
					use {
						width: 100%;
						height: 100%;
						fill: $white;
					}
				}
				&:hover {
					transition: all $tr-time;
					background: $blueHover;
				}
			}
		}
		&__content {
			position: relative;
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			width: 100%;
			height: 100%;
		}
		&__answer {
			position: relative;
			display: flex;
			width: 100%;
			height: 100%;
			justify-content: center;
			align-items: center;
			text-align: center;
			max-width: vw(485);
			color: #07171D;
			text-transform: uppercase;
			margin-left: auto;
			margin-right: auto;
		}
		&__bottom {
			position: relative;
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			min-height: vw(75);
			background: $blueLight;
			padding-left: vw(30);
			padding-right: vw(30);
			transition: all $tr-time;
			cursor: pointer;
			&:hover {
				transition: all $tr-time;
				background: $blueHover;
			}
			&__row {
				svg {
					width: vw(14);
					height: vw(12);
					use {
						width: 100%;
						height: 100%;
						stroke: $white;
					}
				}
			}
			&__text {
				color: #fff;
				font-size: vw(14);
				font-style: normal;
				font-weight: 600;
				line-height: normal;
				text-transform: uppercase;
				@include max(md) {
					font-size: vw2(20);
					line-height: 1.2;
					margin-right: vw(20);
			} 
			}
		}
	}
}	



@keyframes rotationOpenMenuSidebar  {
	0% {
		transform-origin: 50% 50%;
		transform: rotate(0deg);
	}

	100% {
		transform-origin: 50% 50%;
		transform: rotate(180deg);
	}

}
@keyframes rotationCloseMenuSidebar {
	0% {
		transform-origin: 50% 50%;
		transform: rotate(180deg);
	}
	100% {
		transform-origin: 50% 50%;
		transform: rotate(0deg);
	}

}
