section.contacts-info
    .container
        .contacts-info__requisites.requisites
            .requisites__title Реквизиты 
                span ООО "СКАЙ-Ф" МРК
            .requisites__info
                .requisites__item
                    .requisites__name юр. адрес:
                    .requisites__value 249010 Калужская обл., Боровский р-н, д. Маланьино
                .requisites__columns
                    .requisites__column
                        .requisites__item
                            .requisites__name ИНН:
                            .requisites__value 7724564269
                        .requisites__item
                            .requisites__name ОГРН:
                            .requisites__value 1057749469150
                        .requisites__item
                            .requisites__name КПП:
                            .requisites__value 400301001
                        .requisites__item
                            .requisites__name ОКПО:
                            .requisites__value 79510906
                    .requisites__column
                        .requisites__item
                            .requisites__name Наименование банка:
                            .requisites__value Филиал «Центральный» Банка ВТБ (ПАО) в г. Москве
                        .requisites__item
                            .requisites__name Расчетный счет:
                            .requisites__value 40702810924250001054
                        .requisites__item
                            .requisites__name Корр. счет:
                            .requisites__value 30101810145250000411
                        .requisites__item
                            .requisites__name БИК:
                            .requisites__value 044525411

        .contacts-info__requisites.requisites
            .requisites__title Реквизиты 
                span ООО "КАЛИНИНГРАД 1"
            .requisites__info
                .requisites__item
                    .requisites__name юр. адрес:
                    .requisites__value 249010 Калужская обл., Боровский р-н, д. Маланьино
                .requisites__columns
                    .requisites__column
                        .requisites__item
                            .requisites__name ИНН:
                            .requisites__value 7724564269
                        .requisites__item
                            .requisites__name ОГРН:
                            .requisites__value 1057749469150
                        .requisites__item
                            .requisites__name КПП:
                            .requisites__value 400301001
                        .requisites__item
                            .requisites__name ОКПО:
                            .requisites__value 79510906
                    .requisites__column
                        .requisites__item
                            .requisites__name Наименование банка:
                            .requisites__value Филиал «Центральный» Банка ВТБ (ПАО) в г. Москве
                        .requisites__item
                            .requisites__name Расчетный счет:
                            .requisites__value 40702810924250001054
                        .requisites__item
                            .requisites__name Корр. счет:
                            .requisites__value 30101810145250000411
                        .requisites__item
                            .requisites__name БИК:
                            .requisites__value 044525411                            