section.team-photos(data-js='teamPhotosSection')
	.container.team-photos__container(data-js='teamPhotosContent')
		.team-photos__slider(data-js="teamPhotosSlider")
			.swiper-wrapper
				.swiper-slide.team-photos__slide
					a.team-photos__img(href="img/team_photo_1.png" data-fancybox="teamPhotos" data-caption="Короткое описание 1")
						img(src="img/team_photo_1.png" alt="слайд 1")
				.swiper-slide.team-photos__slide
					a.team-photos__img(href="img/team_photo_1.png" data-fancybox="teamPhotos" data-caption="Короткое описание 2")
						img(src="img/team_photo_1.png" alt="слайд 2")
				.swiper-slide.team-photos__slide
					a.team-photos__img(href="img/team_photo_1.png" data-fancybox="teamPhotos" data-caption="Короткое описание 3")
						img(src="img/team_photo_1.png" alt="слайд 3")
			.team-photos__control.swiper-button-prev
				svg
					use(xlink:href=`img/sprites/sprite.svg#arrow_btn`)
			.team-photos__control.swiper-button-next
				svg
					use(xlink:href=`img/sprites/sprite.svg#arrow_btn`)
		.team-photos__right 
			+title('h2', 'Каждый день работаем с улыбкой', "team-photos__title")
			+new-btn({
				classes: 'team-photos__btn',
				tag: 'link',
				buttonType: 'button',
				vMode: 'big',
				text: 'Смотреть',
				icon: 'true',
				iconName: 'arrow_btn',
				cMode: 'blue',
			})(data-fancybox-trigger="teamPhotos")