.product-card {
    border: 1px solid $greyLight;
    position: relative;
    background-color: $white;
    &__link {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    &__header {
        margin: vw(21) vw(20) 0;
    }
    &__title {
        font-size: vw(24);
        font-weight: 500;
        line-height: 0.958;
        color: $fontBlack;
    }
    &__vcode {
        margin: vw(11) 0 vw(5);
        font-size: vw(12);
        font-weight: 600;
        line-height: 1.22;
        color: $black;

    }
    &__photo {
        margin: auto 0 vw(5);
        height: vw(395);
        width: 100%;
        height: auto;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: vw(5) vw(20) 0;
    }
    &__price {
        padding: vw(12) vw(26) vw(16);
        font-size: vw(24);
        font-weight: 600;
        line-height: 1.22;
        color: $fontBlack; 
        border: 1px solid $greyLight;
    }
    &__info {
        margin-top: vw(17);
        .card-info__row {
            display: flex;
            justify-content: space-between;
            padding: vw(3) vw(18);
            font-size: vw(12);
            font-weight: 600;
            line-height: 1.25;
            text-transform: uppercase;
            color: $black;
            &__param {
                opacity: 0.4;
            }
        }
        .card-info__row:nth-child(odd) {
            background-color: $greyBg;
        }
    }

    &__btns {
        border: 1px solid $greyLight;
        border-top-width: 0px;
        position: absolute;
        left: -1.5px;
        top: 100%;
        width: calc(100% + 3px);
        display: grid;
        grid-template-columns: auto vw(75);
        grid-template-areas: 'a b'
                            'c c';
        
        z-index: -1;
        opacity: 0;
        transition: all $tr-time linear;
    }
    &__offer.new-btn {
        grid-area: a;
    }
    &__cart.new-btn {
        grid-area: b;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0;
        width: auto;
        height: auto;
        .new-btn__icon {
            width: vw(24);
            height: vw(23);
            svg, svg use {
                width: vw(24);
                height: vw(23);
                fill: inherit;
                stroke: inherit;  
            }
        }
    }
    &__more.new-btn {
        grid-area: c;
    }

    &:hover {
        .product-card__btns {
            z-index: 5;
            opacity: 1;
        }
    }

}

.product-card--row {
    display: flex;
    align-items: center;
    padding: 0 vw(20) vw(11) vw(10);
    .product-card__link {
        flex-basis: auto;
        flex-shrink: 1;
        flex-grow: 1;
        flex-direction: row;
        align-items: center;
        gap: vw(47);
    }
    .product-card__photo {
        order: 0;
        flex-basis: vw(129);
        flex-shrink: 0;
        flex-grow: 0;
        margin-right: vw(12);
    }
    .product-card__header {
        order: 1;
        min-width: vw(374);
        flex-basis: vw(374);
        margin: 0;
    }
    .product-card__info {
        order: 2;
        min-width: vw(330);
        flex-basis: vw(330);
        margin-top: 0;
    }
    .product-card__controls {
        order: 3;
        min-width: vw(308);
        flex-basis: vw(308);
        gap: vw(17);
        margin: 0;
    }
    .product-card__price {
        white-space: nowrap;
    }
    .product-card__btns {
        grid-template-areas: 'a b';
        flex-basis: vw(443);
        flex-shrink: 0;
        flex-grow: 0;
        position: relative;
        z-index: 1;
        opacity: 1;
    }
    .product-card__more.new-btn {
        display: none;
    }
}