-
    const defaultProductCardProps = {
        classes: '',
        type: 'card'
    }

mixin product-card(props = defaultProductCardProps)
    include ../product-table/product-table.pug
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultProductCardProps.classes,
            type: props.type ? props.type : defaultProductCardProps.type,
        }

        let typeClass = checkProps.type === "card" ? "product-card--card" : "product-card--row"

    .product-card(class= typeClass + " " + checkProps.classes)
        a.product-card__link(href="#")
            .product-card__header
                .product-card__title Семга (лосось) потр.с/г 2-3 ord охлажденная
                .product-card__vcode Арт.: 6425642-S
            .product-card__photo
                img(src="img/product_card_salmon.png" alt="Семга (лосось) потр.с/г 2-3 ord охлажденная")
            .product-card__controls
                .product-card__price 500 Р
                include ../amount-input/amount-input.pug
            +product-table("product-card__info")
        .product-card__btns
            +new-btn({
                classes: 'product-card__offer',
                tag: 'button',
                vMode: 'small',
                text: 'Получить предложение',
                icon: 'true',
                iconName: 'arrow_btn',
                cMode: 'black',
            })(data-modal="cartOffer")
            +new-btn({
                classes: 'product-card__cart',
                tag: 'button',
                vMode: 'icon',
                icon: 'true',
                iconName: 'cart',
                cMode: 'blue',
            })




