include ../../../../components/title/title.pug
include ../../../../components/new-btn/new-btn.pug
include ../../../../components/breadcrumbs/breadcrumbs.pug
include ../../../../components/product-table/product-table.pug
include ../../../../components/slider-photo/slider-photo.pug


.product-intro
    .container
        .product-intro__content
            .product-intro__photos
                +breadcrumbs()
                +slider-photo('product-intro__slider')
            .product-intro__info
                +title('h1', 'Лосось охлажденный', 'product-intro__title')
                .product-intro__vcode Артикул: 999999999
                +product-table("product-intro__table")
                .product-intro__controls 
                    .product-intro__price 9 999 999 ₽
                    include ../../../../components/amount-input/amount-input.pug
                .product-intro__subtitle Описание
                .product-intro__text.text-block 
                    p Красная рыба из рода лососей и семейства лососевых. Форель подразделяют на тихоокеанскую, атлантическую и гольца. В свою очередь эти группы делятся на виды, для каждого из которых присущи свои отличительные особенности. Она имеет богатый состав полезных для здоровья веществ и вкусное нежное мясо, которое употребляют даже в сыром виде.



