include ../../../../components/title/title.pug

section.logistics-delivery
    .container
        +title("h2", "Условия доставки", "logistics-delivery__title")
        .text-block.logistics-delivery__text-block
            h3 Наша компания предлагает два основных варианта доставки:

            ol
                li Доставка продукции осуществляется собственным транспортом компании до ближайшего склада или магазина. Клиенты могут выбрать наиболее удобный для себя вариант доставки, включая дату и время.

                li Самовывоз продукции возможен из ближайших магазинов или складов завода. Это позволяет клиентам самостоятельно забрать заказанный товар, что удобно для тех, кто предпочитает экономить время и деньги.
