.society-info {
    display: flex;
    min-height: 100vh;
    @include max(md) {
        min-height: auto;
    } 
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: vw(40);
        padding: vw(34) vw(170) vw(42) vw(30);
        flex-basis: 50%;
        flex-grow: 0;
        flex-shrink: 0;
        background-repeat: no-repeat;
        background-size: vw(884) vw(284);
        @include max(md) {
            flex-basis: auto;
            gap: vw2(30);
            padding: vw2(34) vw2(20) vw2(42);
            background-size: 50% auto;
        } 
    }
    &__title {
        font-size: vw(65);
    }
    &__img {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        flex-basis: 50%;
        flex-grow: 0;
        flex-shrink: 0;
        @include max(md) {
            flex-basis: vw2(600);
        } 
    }
}

.society-info.society-info--black {
    flex-direction: row-reverse;
    background-color: $fontBlack;
    @include max(md) {
        flex-direction: column;
    } 
    .society-info__content {
        background-image: url("../img/society_info_bg_black.svg");
        background-position: bottom vw(105) right 0;
        @include max(md) {
            background-position: bottom vw2(30) right 0;
        } 
    }
    .society-info__title {
        color: $white;
    }
    .society-info__text {
        p {
            color: white;
        }
    }
}

.society-info.society-info--white {
    flex-direction: row;
    background-color: $white;
    @include max(md) {
        flex-direction: column;
    } 
    .society-info__content {
        background-image: url("../img/society_info_bg_white.svg");
        background-position: bottom vw(105) left 0;
        @include max(md) {
            background-position: bottom vw2(30) right 0;
        } 
    }
    .society-info__title {
        color: $fontBlack;
    }
    .society-info__text {
        p {
            color: $fontBlack;
        }
    }
}