mixin product-table(classes="")

    .product-table(class= classes)
        .product-table__row
            .product-table__param Страна происхождения
            .product-table__value Россия
        .product-table__row
            .product-table__param Размер
            .product-table__value 2-3
        .product-table__row
            .product-table__param Спецификация
            .product-table__value потр., с/г, ord, охл.
        .product-table__row
            .product-table__param Короб, вес (кг)
            .product-table__value 1



