.ap-callback-modal {
    .ap-modal__close {
        .btn__icon {
            svg use {
                stroke: $white;
                fill: $white;
            }
        }
    }
    .btn--icon.ap-modal__close:hover {
        .btn__icon {
            svg use {
                stroke: $white;
                fill: $white
            }
        }
    }
    .ap-modal__content {
        width: vw(665);
        padding: vw(30) 0 0;
    }
    &__form {
        height: 100%;
    }
    .callback-form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &__content {
            padding: vw(0) vw(29) vw(41);
        }
        &__title {
            max-width: vw(485);
            margin-bottom: vw(56);
            font-size: vw(32);
            line-height: 1.06;
            font-weight: 500;
        }
        &__input {
            margin-top: vw(41);
            &.input--checkbox {
                margin-top: vw(23);
            }
        }
    }
}