.career-purpose {
    padding: vw(25) 0;

    @include max(xl) {
        padding: vwf(25) 0;
    }

    @include max(md) {
        padding: vw2(40) 0;
    }

    &__container {
        display: flex;
        justify-content: space-between;

        @include max(md) {
            flex-direction: column;
        }
    }

    &__left {
        flex-basis: vw(1013);

        @include max(xl) {
            flex-basis: vwf(1013);
        }

        @include max(md) {
            flex-basis: auto;
        }
    }

    &__title {
        font-size: vw(72);

        @include max(xl) {
            font-size: vwf(72);
        }
    }

    &__right {
        flex-basis: vw(614);

        @include max(xl) {
            flex-basis: vwf(614);
        }

        @include max(md) {
            flex-basis: auto;
        }
    }

    &__img {
        width: 100%;
        height: vw(403);

        @include max(xl) {
            height: vwf(403);
        }

        @include max(md) {
            height: vw2(350);
            margin-top: vw2(30);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__text {
        margin-top: vw(27);
        max-width: vw(422);
        font-size: vw(32);
        font-weight: 400;
        line-height: 1;
        letter-spacing: -0.03em;
        color: $fontBlack;

        @include max(xl) {
            margin-top: vwf(27);
            max-width: vwf(422);
            font-size: vwf(32);
        }

        @include max(md) {
            margin-top: vw2(30);
            max-width: 100%;
            font-size: vw2(24);
        }
    }
}