section.society-awards
    .container
        +title("h2", 'Дипломы и награды', "society-awards__title")
        .society-awards__slider(data-js="societyAwardsSlider")
            .swiper-wrapper
                .swiper-slide.society-awards__slide
                    a.society-awards__img(href="img/society_awards_slide_2_2x.png" data-fancybox="societyAwards" data-caption="Если не заполнено, не выводим")
                        img(src="img/society_awards_slide_2.png" alt="слайд 2")
                    .society-awards__text.text-block
                        p Если не заполнено, не выводим
                .swiper-slide.society-awards__slide
                    a.society-awards__img(href="img/society_awards_slide_3_2x.png" data-fancybox="societyAwards" )
                        img(src="img/society_awards_slide_3.png" alt="слайд 3")
                    .society-awards__text.text-block

                .swiper-slide.society-awards__slide
                    a.society-awards__img(href="img/society_awards_slide_2_2x.png" data-fancybox="societyAwards" )
                        img(src="img/society_awards_slide_2.png" alt="слайд 2")
                    .society-awards__text.text-block

                .swiper-slide.society-awards__slide
                    a.society-awards__img(href="img/society_awards_slide_3_2x.png" data-fancybox="societyAwards" data-caption="Короткое описание 3")
                        img(src="img/society_awards_slide_3.png" alt="слайд 3")
                    .society-awards__text.text-block

                .swiper-slide.society-awards__slide
                    a.society-awards__img(href="img/society_awards_slide_2_2x.png" data-fancybox="societyAwards" data-caption="Короткое описание 2")
                        img(src="img/society_awards_slide_2.png" alt="слайд 2")
                    .society-awards__text.text-block

                .swiper-slide.society-awards__slide
                    a.society-awards__img(href="img/society_awards_slide_3_2x.png" data-fancybox="societyAwards" data-caption="Короткое описание 3")
                        img(src="img/society_awards_slide_3.png" alt="слайд 3")
                    .society-awards__text.text-block

            .society-awards__btn.swiper-button-prev
                svg
                    use(xlink:href=`img/sprites/sprite.svg#arrow_btn`)
            .society-awards__btn.swiper-button-next
                svg
                    use(xlink:href=`img/sprites/sprite.svg#arrow_btn`)

