section.society-awards
    .container
        +title("h2", 'Дипломы и награды', "society-awards__title")
        .society-awards__slider(data-js="societyAwardsSlider")
            .swiper-wrapper
                .swiper-slide.society-awards__slide
                    a.society-awards__img(href="img/society_awards_slide_1_2x.png" data-fancybox="societyAwards" data-caption="Название мероприятия, какое место и тд")
                        img(src="../../../../../img/society_awards_slide_1.png" alt="слайд 1")
                    .society-awards__text.text-block 
                        p Название мероприятия, какое место и тд
                .swiper-slide.society-awards__slide
                    a.society-awards__img(href="img/society_awards_slide_2_2x.png" data-fancybox="societyAwards" data-caption="Название мероприятия, какое место и тд")
                        img(src="../../../../../img/society_awards_slide_2.png" alt="слайд 2")
                    .society-awards__text.text-block 
                        p Название мероприятия, какое место и тд
                .swiper-slide.society-awards__slide
                    a.society-awards__img(href="img/society_awards_slide_3_2x.png" data-fancybox="societyAwards" data-caption="Название мероприятия, какое место и тд")
                        img(src="../../../../../img/society_awards_slide_3.png" alt="слайд 3")
                    .society-awards__text.text-block 
                        p Название мероприятия, какое место и тд
                .swiper-slide.society-awards__slide
                    a.society-awards__img(href="img/society_awards_slide_4.png" data-fancybox="societyAwards" data-caption="Название мероприятия, какое место и тд")
                        img(src="../../../../../img/society_awards_slide_4.png" alt="слайд 4")
                    .society-awards__text.text-block 
                        p Название мероприятия, какое место и тд
                .swiper-slide.society-awards__slide
                    a.society-awards__img(href="img/society_awards_slide_1_2x.png" data-fancybox="societyAwards" data-caption="Название мероприятия, какое место и тд")
                        img(src="../../../../../img/society_awards_slide_1.png" alt="слайд 5")
                    .society-awards__text.text-block 
                        p Название мероприятия, какое место и тд
                .swiper-slide.society-awards__slide
                    a.society-awards__img(href="img/society_awards_slide_2_2x.png" data-fancybox="societyAwards" data-caption="Название мероприятия, какое место и тд")
                        img(src="../../../../../img/society_awards_slide_2.png" alt="слайд 6")
                    .society-awards__text.text-block 
                        p Название мероприятия, какое место и тд
            .society-awards__btn.swiper-button-prev
                svg
                    use(xlink:href=`img/sprites/sprite.svg#arrow_btn`)
            .society-awards__btn.swiper-button-next
                svg
                    use(xlink:href=`img/sprites/sprite.svg#arrow_btn`)

