include ../../../../components/breadcrumbs/breadcrumbs
include ../../../../components/pagination/pagination
include ../../../../components/title/title
include ../../../../components/new-btn/new-btn
include ../../../../components/news-card/news-card

section.news-list-intro
    .container.news-list-intro__container
        +breadcrumbs({
            classes: '',
            items: [
                {
                    name: 'Главная',
                    link: '#'
                },
                {
                    name: 'Новости',
                    link: '#'
                }
            ]
        })
        +title('h1', 'Наши <br>новости', 'news-list-intro__title')
        .news-list-intro__cards
            +news-card()
            +news-card({
                classes: '',
                title: 'СТЕЙК ФОРЕЛИ',
                info: [
                    '3,5-4,0 (оч. крупный), короб 16 кг (4*4 кг) В НАЛИЧИИ ВСЕГО 1 ТОННА - от 700 ₽/кг',
                    '1,8-2,2 (средний), короб 16 кг (4*4 кг) от 730 ₽/кг'
                ],
                img: 'img/card-news__picture__3.png',
            })
            +news-card({
                classes: '',
                title: 'ФИЛЕ СВЕЖЕМОРОЖЕНОЕ',
                info: [
                    'ФИЛЕ СЕМГИ из охлажденного сырья (Мурманск) 1,3-1,8, TRIM А от 1550 ₽/кг ',
                    'ФИЛЕ ФОРЕЛИ (Турция, море) 1,3-1,8, TRIM А от 1350 ₽/кг'
                ],
                img: 'img/card-news__picture__2.png',
            })
            +news-card({
                classes: '',
                title: 'КАЛЬМАР PREMIUM',
                info: [
                    'ФИЛЕ ОЧИЩЕННОЕ (без кожи и плавника), уп. 1 кг (кор. 21 кг) от 640 ₽  ',
                    'ТУШКА н/к, 2 блока * 11 кг (мешок 22 кг) от 260 ₽'
                ],
                img: 'img/card-news__picture__4.png',
            })
            +news-card({
                classes: '',
                title: 'КРЕВЕТКА ВАРЕНО-МОРОЖЕНАЯ ЭКВАДОР',
                info: [],
                img: 'img/card-news__picture__5.png',
            })
            +news-card({
                classes: '',
                title: 'ФИЛЕ МИНТАЯ/КАЛЬМАРА',
                info: [
                    'Всегда свежая рыба!'
                ],
                img: 'img/card-news__picture__6.png',
            })
            +news-card({
                classes: '',
                title: 'ТУНЕЦ LOIN (ВЬЕТНАМ)',
                info: [
                    '2-4, АА, с/м, в/у, 20 кг, от 880 ₽/кг'
                ],
                img: 'img/card-news__picture__7.png',
            })
            +news-card({
                classes: '',
                title: 'ОСЬМИНОГ ШТУЧНЫЙ (ИНДОНЕЗИЯ), FLOWER, 500-1000, с/м, iwp',
                info: [
                    'короб 13,6 кг, от 600 ₽/кг'
                ],
                img: 'img/card-news__picture__8.png',
            })
            +news-card({
                classes: '',
                title: 'Филе трески ГОСТ/сайды',
                info: [
                    '3,5-4,0 (оч. крупный), короб 16 кг (4*4 кг) В НАЛИЧИИ ВСЕГО 1 ТОННА - от 700 ₽/кг',
                    '1,8-2,2 (средний), короб 16 кг (4*4 кг) от 730 ₽/кг'
                ],
                img: 'img/card-news__picture__9.png',
            })
        +pagination({
            classes: 'news-list-intro__pagination'
        })
