.section.assortment__section.js-assortment__section
	.container
		.assortment__section__bg
			img(src="img/assortment__section__bg.png" alt="")
		.layout--trio
			.layout--trio__col.js-assortment__col--1
				.assortment__title.title__82
					!='Наш ассортимент'
				.assortment__btns
					a(href="#" download).btn--box.btn--white.assortment__btn
						.btn.btn--circle
							svg
								use(xlink:href=`img/sprites/sprite.svg#arrow_btn`)
						.btn--box__text Скачать прайс-лист
					a(href="#").btn--box.assortment__btn
						.btn.btn--circle
							svg
								use(xlink:href=`img/sprites/sprite.svg#arrow_btn`)
						.btn--box__text Перейти в каталог
			.layout--trio__col.js-assortment__col--2
				a(href="#").card.card--full-picture.active
					.card__title.title__32
						!='Рыба охлажденная <br> <span class="text__12">14&ensp;товаров</span>'
					.card__picture 
						img(src="img/card__picture__1.png" alt="")
					.card__bottom
						.btn.btn--circle.btn--circle__blue
							svg
								use(xlink:href=`img/sprites/sprite.svg#arrow_btn`)
				a(href="#").card.card--full-picture
					.card__title.title__32
						!='Филе охлажденное <br> <span class="text__12">3&ensp;товара</span>'
					.card__picture 
						img(src="img/card__picture__2.png" alt="")
					.card__bottom
						.btn.btn--circle.btn--circle__blue
							svg
								use(xlink:href=`img/sprites/sprite.svg#arrow_btn`)
				a(href="#").card.card--full-picture
					.card__title.title__32
						!='морепродукты <br> <span class="text__12">26&ensp;товаров</span>'
					.card__picture 
						img(src="img/card__picture__3.png" alt="")
					.card__bottom
						.btn.btn--circle.btn--circle__blue
							svg
								use(xlink:href=`img/sprites/sprite.svg#arrow_btn`)

			.layout--trio__col.js-assortment__col--3
				a(href="#").card.card--full-picture
					.card__title.title__32
						!='Рыба свежемороженая <br> <span class="text__12">35&ensp;товаров</span>'
					.card__picture 
						img(src="img/card__picture__4.png" alt="")
					.card__bottom
						.btn.btn--circle.btn--circle__blue
							svg
								use(xlink:href=`img/sprites/sprite.svg#arrow_btn`)
				a(href="#").card.card--full-picture
					.card__title.title__32
						!='Филе свежемороженое <br> <span class="text__12">3&ensp;товара</span>'
					.card__picture 
						img(src="img/card__picture__5.png" alt="")
					.card__bottom
						.btn.btn--circle.btn--circle__blue
							svg
								use(xlink:href=`img/sprites/sprite.svg#arrow_btn`)
				a(href="#").card.card--full-picture
					.card__title.title__32
						!='субпродукты <br> <span class="text__12">3&ensp;товара</span>'
					.card__picture 
						img(src="img/card__picture__6.png" alt="")
					.card__bottom
						.btn.btn--circle.btn--circle__blue
							svg
								use(xlink:href=`img/sprites/sprite.svg#arrow_btn`)
