extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "404 Page"

block content
	.scroll-page
		.error-page
			.error-page__bg 
				img(src="img/error-page__bg.png" alt="")
			.error-page__desc
				.error-page__title 
					h1 404
				.error-page__subtitle.title__32 Такой страницы нет. Возможно ошибка в&nbsp;адресе
			a(href="#").btn--box.error-page__btn
				.btn.btn--circle
					svg
						use(xlink:href=`img/sprites/sprite.svg#arrow_btn`)
				.btn--box__text На главную
		include ../../blocks/modules/footer/footer	