extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Cart Page"

block content

	.scroll-page
		include ../../blocks/modules/pages/cart/cart-intro/cart-intro
		include ../../blocks/modules/footer/footer