extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Catalog category Page"

block content

	.scroll-page
		include ../../blocks/modules/pages/catalog-category-cards/category-intro/category-intro.pug
		include ../../blocks/modules/pages/catalog-category-cards/category-desc/category-desc.pug
