extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Catalog category Page"

block content
	include ../../blocks/modules/pages/catalog-category/category-intro/category-intro.pug

	.scroll-page
		+category-intro("row")
		include ../../blocks/modules/pages/catalog-category/category-desc/category-desc.pug