extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Catalog categories Page"

block content
	.scroll-page
		.section.section--first.assortment__section.assortment__section--no-animation.bg-white
			.container
				.assortment__section__bg
					img(src="img/assortment__section__bg.png" alt="")
				.layout--trio
					.layout--trio__col
						.assortment__title.title__82
							h1 Категории <br>каталога
						a(href="#").btn--box.assortment__btn
							.btn.btn--circle
								<svg xmlns="http://www.w3.org/2000/svg" width="11" height="8" viewBox="0 0 11 8" fill="none">
								<path d="M10.0999 4.21591L1.22221 4.11643M6.42527 1.06079L10.0999 4.21591L6.42527 1.06079ZM10.0999 4.21591L6.86969 7.29365L10.0999 4.21591Z" stroke="#07171D" stroke-width="1.33502" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
							.btn--box__text Перейти в каталог
					.layout--trio__col
						a(href="#").card.card--full-picture.active
							.card__title.title__32
								!='Рыба охлажденная <br> <span class="text__12">14&ensp;товаров</span>'
							.card__picture 
								img(src="img/card__picture__1.png" alt="")
							.card__bottom
								//- .card__bottom__text.text__16
								//- 	!="Для организации автономных мест курения внутри зданий без необходимости выделять отдельное помещение"
								.btn.btn--circle.btn--circle__black
									<svg xmlns="http://www.w3.org/2000/svg" width="11" height="8" viewBox="0 0 11 8" fill="none">
									<path d="M10.0999 4.21591L1.22221 4.11643M6.42527 1.06079L10.0999 4.21591L6.42527 1.06079ZM10.0999 4.21591L6.86969 7.29365L10.0999 4.21591Z" stroke="#07171D" stroke-width="1.33502" stroke-linecap="round" stroke-linejoin="round"/>
									</svg>							
						a(href="#").card.card--full-picture
							.card__title.title__32
								!='Филе охлажденное <br> <span class="text__12">3&ensp;товара</span>'
							.card__picture 
								img(src="img/card__picture__2.png" alt="")
							.card__bottom
								//- .card__bottom__text.text__16
								//- 	!="Для организации автономных мест курения внутри зданий без необходимости выделять отдельное помещение"
								.btn.btn--circle.btn--circle__black
									<svg xmlns="http://www.w3.org/2000/svg" width="11" height="8" viewBox="0 0 11 8" fill="none">
									<path d="M10.0999 4.21591L1.22221 4.11643M6.42527 1.06079L10.0999 4.21591L6.42527 1.06079ZM10.0999 4.21591L6.86969 7.29365L10.0999 4.21591Z" stroke="#07171D" stroke-width="1.33502" stroke-linecap="round" stroke-linejoin="round"/>
									</svg>							
						a(href="#").card.card--full-picture
							.card__title.title__32
								!='морепродукты <br> <span class="text__12">26&ensp;товаров</span>'
							.card__picture 
								img(src="img/card__picture__3.png" alt="")
							.card__bottom
								//- .card__bottom__text.text__16
								//- 	!="Для организации автономных мест курения внутри зданий без необходимости выделять отдельное помещение"
								.btn.btn--circle.btn--circle__black
									<svg xmlns="http://www.w3.org/2000/svg" width="11" height="8" viewBox="0 0 11 8" fill="none">
									<path d="M10.0999 4.21591L1.22221 4.11643M6.42527 1.06079L10.0999 4.21591L6.42527 1.06079ZM10.0999 4.21591L6.86969 7.29365L10.0999 4.21591Z" stroke="#07171D" stroke-width="1.33502" stroke-linecap="round" stroke-linejoin="round"/>
									</svg>							

					.layout--trio__col
						a(href="#").card.card--full-picture
							.card__title.title__32
								!='Рыба свежемороженая <br> <span class="text__12">35&ensp;товаров</span>'
							.card__picture 
								img(src="img/card__picture__4.png" alt="")
							.card__bottom
								//- .card__bottom__text.text__16
								//- 	!="Для организации автономных мест курения внутри зданий без необходимости выделять отдельное помещение"
								.btn.btn--circle.btn--circle__black
									<svg xmlns="http://www.w3.org/2000/svg" width="11" height="8" viewBox="0 0 11 8" fill="none">
									<path d="M10.0999 4.21591L1.22221 4.11643M6.42527 1.06079L10.0999 4.21591L6.42527 1.06079ZM10.0999 4.21591L6.86969 7.29365L10.0999 4.21591Z" stroke="#07171D" stroke-width="1.33502" stroke-linecap="round" stroke-linejoin="round"/>
									</svg>							
						a(href="#").card.card--full-picture
							.card__title.title__32
								!='Филе свежемороженое <br> <span class="text__12">3&ensp;товара</span>'
							.card__picture 
								img(src="img/card__picture__5.png" alt="")
							.card__bottom
								//- .card__bottom__text.text__16
								//- 	!="Для организации автономных мест курения внутри зданий без необходимости выделять отдельное помещение"
								.btn.btn--circle.btn--circle__black
									<svg xmlns="http://www.w3.org/2000/svg" width="11" height="8" viewBox="0 0 11 8" fill="none">
									<path d="M10.0999 4.21591L1.22221 4.11643M6.42527 1.06079L10.0999 4.21591L6.42527 1.06079ZM10.0999 4.21591L6.86969 7.29365L10.0999 4.21591Z" stroke="#07171D" stroke-width="1.33502" stroke-linecap="round" stroke-linejoin="round"/>
									</svg>							
						a(href="#").card.card--full-picture
							.card__title.title__32
								!='субпродукты <br> <span class="text__12">3&ensp;товара</span>'
							.card__picture 
								img(src="img/card__picture__6.png" alt="")
							.card__bottom
								//- .card__bottom__text.text__16
								//- 	!="Для организации автономных мест курения внутри зданий без необходимости выделять отдельное помещение"
								.btn.btn--circle.btn--circle__black
									<svg xmlns="http://www.w3.org/2000/svg" width="11" height="8" viewBox="0 0 11 8" fill="none">
									<path d="M10.0999 4.21591L1.22221 4.11643M6.42527 1.06079L10.0999 4.21591L6.42527 1.06079ZM10.0999 4.21591L6.86969 7.29365L10.0999 4.21591Z" stroke="#07171D" stroke-width="1.33502" stroke-linecap="round" stroke-linejoin="round"/>
									</svg>
		//- include ../../blocks/modules/footer/footer

		footer.footer.footer__animation.footer__animation--personally.js-footer__animation
			.footer__logo 
				img(src="img/logo__white.png" alt="")
			.footer__title.title__170 
				!="Понимаем море, слышим людей"
			.footer__menu 
				ul.footer__menu__list
					li.footer__menu__list__title Каталог
					li.footer__menu__list__item
						a(href="#") Рыба охлажденная
					li.footer__menu__list__item
						a(href="#") Рыба свежемороженая
					li.footer__menu__list__item
						a(href="#") Филе охлажденное
					li.footer__menu__list__item
						a(href="#") Филе свежемороженое
					li.footer__menu__list__item
						a(href="#") Морепродукты
					li.footer__menu__list__item
						a(href="#") Субпродукты
				ul.footer__menu__list
					li.footer__menu__list__title О компании
					li.footer__menu__list__item
						a(href="#") Производство
					li.footer__menu__list__item
						a(href="#") Склад и логистика
					li.footer__menu__list__item
						a(href="#") мы в социуме
					li.footer__menu__list__item
						a(href="#") карьера в skyfish
					li.footer__menu__list__item
						a(href="#") наша команда
				ul.footer__menu__list
					li.footer__menu__list__title А и еще...
					li.footer__menu__list__item
						a(href="#") контакты
					li.footer__menu__list__item
						a(href="#") Личный кабинет
					li.footer__menu__list__item
						a(href="#") Документы
					li.footer__menu__list__item
						a(href="#") Новости
					li.footer__menu__list__item
						a(href="#") Вопросы и ответы (FAQ)
			a(href="#").btn--box.footer__btn
				.btn.btn--circle
					<svg xmlns="http://www.w3.org/2000/svg" width="11" height="8" viewBox="0 0 11 8" fill="none">
					<path d="M10.0999 4.21591L1.22221 4.11643M6.42527 1.06079L10.0999 4.21591L6.42527 1.06079ZM10.0999 4.21591L6.86969 7.29365L10.0999 4.21591Z" stroke="#07171D" stroke-width="1.33502" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
				.btn--box__text Подробнее
			.footer__bg
				img(src="img/footer__bg.png" alt="")
			.footer__agreement
				.footer__agreement__date.text__12 © 2023 — 2024
				a(href="#").footer__agreement__text.text__12 
					!="Пользовательское <br>соглашение"