extends ../layouts/default
include ../helpers/mixins

block variables
    - const title = "FAQ Page"


block content
    include ../../blocks/components/breadcrumbs/breadcrumbs.pug

    .scroll-page
        .section.section--first.questions__section
            .container
                +breadcrumbs({
                    classes: 'questions__breadcrumbs',
                    items: [
                        {
                            name: 'Главная',
                            link: '#'
                        },
                        {
                            name: 'FAQ',
                            link: '#'
                        }
                    ]
                })
                .questions__section__title.title__52
                    h1 FAQ
                .layout
                    .layout__col
                        .questions__section__subtitle.text__18
                            !="Мы объединили здесь всю необходимую информацию, чтобы избавить Вас от необходимости искать ее по разным источникам. От простых вопросов до более сложных – у нас есть решение для каждого!"
                        .questions
                            .accordions
                                .accordion
                                    .accordion__intro
                                        p.title__24 Какие гарантии качества поставляемой продукции?
                                        .accordion__intro__img 
                                            svg
                                                use(xlink:href=`img/sprites/sprite.svg#plus_accordeon`)
                                    .accordion__content
                                        .text-block 
                                            p Вся продукция проходит тщательный контроль качества и подтверждается необходимыми сертификатами. Склады оснащены холодильным оборудованием новейшего поколения для сохранности замороженной и охлажденной продукции в требуемом температурном режиме.

                                .accordion
                                    .accordion__intro
                                        p.title__24 Какие требования к минимальному заказу?
                                        .accordion__intro__img 
                                            svg
                                                use(xlink:href=`img/sprites/sprite.svg#plus_accordeon`)
                                    .accordion__content
                                        .text-block 
                                            p Вся продукция проходит тщательный контроль качества и подтверждается необходимыми сертификатами. Склады оснащены холодильным оборудованием новейшего поколения для сохранности замороженной и охлажденной продукции в требуемом температурном режиме.

                                .accordion
                                    .accordion__intro
                                        p.title__24 Какие условия оплаты?
                                        .accordion__intro__img 
                                            svg
                                                use(xlink:href=`img/sprites/sprite.svg#plus_accordeon`)
                                    .accordion__content
                                        .text-block 
                                            p Вся продукция проходит тщательный контроль качества и подтверждается необходимыми сертификатами. Склады оснащены холодильным оборудованием новейшего поколения для сохранности замороженной и охлажденной продукции в требуемом температурном режиме.

                                .accordion
                                    .accordion__intro
                                        p.title__24 Заказ доставляете?
                                        .accordion__intro__img 
                                            svg
                                                use(xlink:href=`img/sprites/sprite.svg#plus_accordeon`)
                                    .accordion__content
                                        .text-block 
                                            p Вся продукция проходит тщательный контроль качества и подтверждается необходимыми сертификатами. Склады оснащены холодильным оборудованием новейшего поколения для сохранности замороженной и охлажденной продукции в требуемом температурном режиме.

                    .layout__col
                        .phone-call
                            .phone-call__title.title__32 
                                !="ОСТАЛИСЬ ВОПРОСЫ? <br> НАПИШИТЕ ИЛИ ЗАКАЖИТЕ <br> ЗВОНОК"
                            a(href="#").btn--box.phone-call__btn.js-phone-call__btn
                                .btn.btn--circle
                                    svg
                                        use(xlink:href=`img/sprites/sprite.svg#arrow_btn`)
                                .btn--box__text Заказать звонок

        include ../../blocks/modules/footer/footer