extends ../layouts/default
include ../helpers/mixins

block variables
    - const title = "LK Page"


block content

    .scroll-page
        include ../../blocks/modules/pages/lk/lk-intro/lk-intro.pug

        include ../../blocks/modules/footer/footer