extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Logistics Page"

block content
	//-mixins
	include ../../blocks/modules/l-intro/l-intro.pug
	include ../../blocks/modules/l-walk/l-walk.pug
	include ../../blocks/modules/l-map/l-map.pug
	include ../../blocks/modules/l-vacancies/l-vacancies.pug
	include ../../blocks/modules/l-call-action/l-call-action.pug

	.scroll-page
		+l-intro({
			classes: '',
			breadcrumbs: {
				classes: 'logistics__breadcrumbs',
				colorMode: 'light',
				items: [
					{
						name: 'Главная',
						link: '#'
					},
					{
						name: 'Наша логистика',
						link: '#'
					}
				]
			},
			title: 'Наша логистика',
			textTop: `<p>Наши складские комплексы расположены в&nbsp;Москве, Калужской и&nbsp;Калининградской областях. Склады оснащены необходимыми морозильными камерами и&nbsp;погрузочно-разгрузочной техникой.</p>
			<p>Доставка заказа осуществляется собственным автотранспортом, оборудованным рефрижераторными установками. Также доставим заказ в&nbsp;любой регион РФ проверенной логистической компанией.</p>
			<p>Возможен самовывоз со складов компании в&nbsp;согласованное удобное время.</p>`,
			image: 'img/logistics_intro.png'
		})
		+l-walk()
		+l-map({
			controls: true
		})
		+l-vacancies({
            classes: 'production__vacancies',
            title: 'Ищем в команду на производство'
        })
		+l-call-action()

		include ../../blocks/modules/footer/footer

