extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Logistics Page"

block content
	//-mixins
	include ../../blocks/modules/l-intro/l-intro.pug
	include ../../blocks/modules/l-walk/l-walk.pug
	include ../../blocks/modules/l-map/l-map.pug
	include ../../blocks/modules/l-vacancies/l-vacancies.pug
	include ../../blocks/modules/l-call-action/l-call-action.pug

	.scroll-page
		+l-intro({
			classes: 'logistics-intro',
			breadcrumbs: {
				classes: 'logistics__breadcrumbs',
				colorMode: 'light',
				items: [
					{
						name: 'Главная',
						link: '#'
					},
					{
						name: 'Наша логистика',
						link: '#'
					}
				]
			},
			title: 'Наша логистика',
			textTop: `<p>Наши складские комплексы расположены в&nbsp;Москве, Калужской и&nbsp;Калининградской областях. Склады оснащены необходимыми морозильными камерами и&nbsp;погрузочно-разгрузочной техникой.</p>
			<p>Доставка заказа осуществляется в любой регион РФ собственным автотранспортом и автопарком логистической компанией, оборудованными рефрижераторными установками.</p>
			<p>Возможен самовывоз со складов компании в&nbsp;согласованное удобное время. Минимальный&nbsp;заказ - 1 коробка.</p>`,
			image: 'img/logistics_intro.png'
		})
		+l-walk({
			slides: [
				{
					image: 'img/logistics-walk-1.jpg',
					caption: 'Короткое описание 1'
				},
				{
					image: 'img/logistics-walk-2.jpg',
					caption: 'Короткое описание 2'
				},
				{
					image: 'img/logistics-walk-3.jpg',
					caption: 'Короткое описание 3'
				},
				{
					image: 'img/logistics-walk-4.jpg',
					caption: 'Короткое описание 4'
				},
				{
					image: 'img/logistics-walk-5.jpg',
					caption: 'Короткое описание 5'
				},
				{
					image: 'img/logistics-walk-6.jpg',
					caption: 'Короткое описание 6'
				},
				{
					image: 'img/logistics-walk-7.jpg',
					caption: 'Короткое описание 7'
				}
			]
		})
		+l-map({
			controls: true,
			page: 'logistics'
		})
		+l-vacancies({
			classes: 'production__vacancies',
			title: 'Ищем в команду на производство'
		})
		+l-call-action()

		include ../../blocks/modules/footer/footer

