extends ../layouts/default
include ../helpers/mixins

block variables
    - const title = "News List Page"

block content
    .scroll-page
        include ../../blocks/modules/pages/news/news-intro/news-intro
        include ../../blocks/modules/pages/news/news-body/news-body

        include ../../blocks/modules/footer/footer

