extends ../layouts/default

block variables
	- const title = "Pages page";

block content
	.pages-page
		.container
			.pages-page__title Страницы
			.pages-page__links
				a.pages-page__link(href="index.html") Главная
				a.pages-page__link(href="catalog-categories.html") Категории каталога
				a.pages-page__link(href="catalog-category-cards.html") Категория каталога (карточки)
				a.pages-page__link(href="catalog-category-rows.html") Категория каталога (строки)
				a.pages-page__link(href="product.html") Детальная карточка товара
				a.pages-page__link(href="society.html") Мы в социуме
				a.pages-page__link(href="logistics.html") Наша логистика
				a.pages-page__link(href="news-list.html") Наши новости
				a.pages-page__link(href="career.html") Карьера
				a.pages-page__link(href="team.html") Наша команда
				a.pages-page__link(href="production.html") Наше производство
				a.pages-page__link(href="news.html") Новость (детальная)
				a.pages-page__link(href="documents.html") Документы для сделок
				a.pages-page__link(href="prices.html") Прайсы
				a.pages-page__link(href="contacts.html") Контакты
				a.pages-page__link(href="cart.html") Корзина
				a.pages-page__link(href="search-result.html") Результаты поиска
				a.pages-page__link(href="faq.html") FAQ
				a.pages-page__link(href="vacancy.html") Вакансия
				a.pages-page__link(href="404.html") 404
				a.pages-page__link(href="pop-up.html") Компоненты