extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Pop-up Page"

block content
	.pop-up
		.pop-up__list
			a(href="#").btn--box.js-pop-up__button--command
				.btn.btn--circle
					svg
						use(xlink:href=`img/sprites/sprite.svg#arrow_btn`)
				.btn--box__text Стать частью команды 
			a(href="#").btn--box.js-pop-up__button--thanks
				.btn.btn--circle
					svg
						use(xlink:href=`img/sprites/sprite.svg#arrow_btn`)
				.btn--box__text Спасибо
			a(href="#").btn--box.js-pop-up__button--3
				.btn.btn--circle
					svg
						use(xlink:href=`img/sprites/sprite.svg#arrow_btn`)
				.btn--box__text button--3
			a(href="#").btn--box.js-pop-up__button--4
				.btn.btn--circle
					svg
						use(xlink:href=`img/sprites/sprite.svg#arrow_btn`)
				.btn--box__text button--4
