extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Prices Page"

block content
	include ../../blocks/components/breadcrumbs/breadcrumbs.pug

	.scroll-page
		.section.section--first.document__section
			.container
				+breadcrumbs({
					classes: 'document__breadcrumbs',
					items: [
						{
							name: 'Главная',
							link: '#'
						},
						{
							name: 'Прайсы',
							link: '#'
						}
					]
				})
				.layout
					.layout__col
						.document__section__title.title__52
							h1 Прайсы
						.document 
							.document__col
								.document__title.title__24
									!="Прайс каталог Москва 28.02.2024"
							.document__col
								.document__file
									.document__file__type.text__12 тип файла
									.document__file__name.text__18 pdf 
								.document__size
									.document__size__type.text__12 Размер
									.document__size__name.text__18  1 mb
								a(href="#" download).document__btn.btn.btn--circle.btn--circle__download
									svg
										use(xlink:href=`img/sprites/sprite.svg#arrow_btn`)
						.document 
							.document__col
								.document__title.title__24
									!="Прайс каталог Калининград 28.02.2024"
							.document__col
								.document__file
									.document__file__type.text__12 тип файла
									.document__file__name.text__18 pdf
								.document__size
									.document__size__type.text__12 Размер
									.document__size__name.text__18  1 mb
								a(href="#" download).document__btn.btn.btn--circle.btn--circle__download
									svg
										use(xlink:href=`img/sprites/sprite.svg#arrow_btn`)
						.document 
							.document__col
								.document__title.title__24
									!="Прайс услуги 28.02.2024"
							.document__col
								.document__file
									.document__file__type.text__12 тип файла
									.document__file__name.text__18 pdf
								.document__size
									.document__size__type.text__12 Размер
									.document__size__name.text__18  1 mb
								a(href="#" download).document__btn.btn.btn--circle.btn--circle__download
									svg
										use(xlink:href=`img/sprites/sprite.svg#arrow_btn`)
					.layout__col
						.phone-call
							.phone-call__title.title__32 
								!="ОСТАЛИСЬ ВОПРОСЫ? <br> НАПИШИТЕ ИЛИ ЗАКАЖИТЕ <br> ЗВОНОК"
							a(href="#").btn--box.phone-call__btn.js-phone-call__btn
								.btn.btn--circle
									svg
										use(xlink:href=`img/sprites/sprite.svg#arrow_btn`)
								.btn--box__text Заказать звонок

		include ../../blocks/modules/footer/footer