extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Product Details Page"

block content
	//-mixins

	.scroll-page
		include ../../blocks/modules/pages/product/product-intro/product-intro.pug

		include ../../blocks/modules/footer/footer

