extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Search Result Page"

block content


	.scroll-page
		include ../../blocks/modules/pages/search-result/search-result-intro/search-result-intro
		include ../../blocks/modules/footer/footer