extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Society Page"

block content
	//-mixins
	include ../../blocks/modules/pages/society/society-info/society-info.pug
	include ../../blocks/modules/l-intro/l-intro.pug

	.scroll-page
		+l-intro()
		+society-info({
			type: 'white',
			title: 'участник «Ассоциации производственных и торговых предприятий рыбного рынка», «Рыбного Союза»',
			image: 'img/society_info_1.png'
		})
		+society-info({
			text: 'Если мы поможем хотя бы одному<br>ребёнку — мы уже победили!',
		})
		include ../../blocks/modules/pages/society/society-awards/society-awards.pug

		include ../../blocks/modules/footer/footer

