extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Vacancy Page"


block content
	include ../../blocks/components/breadcrumbs/breadcrumbs.pug

	.scroll-page
		.section.section--first.section__white.vacancy__section
			.container
				+breadcrumbs({
					classes: 'vacancy__breadcrumbs',
					items: [
						{
							name: 'Главная',
							link: '#'
						},
						{
							name: 'Вакансии',
							link: '#'
						},
						{
							name: 'Сортировщик',
							link: '#'
						}
					]
				})
				.layout
					.layout__col
						.vacancy
							.vacancy__title.title__52
								h1 Менеджер по продажам
							.vacancy__description
								.vacancy__cost.title__24 от 100 000 ₽ на руки
								.vacancy__location
									.vacancy__location__icon 
										<svg xmlns="http://www.w3.org/2000/svg" width="21" height="27" viewBox="0 0 21 27" fill="none">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M21 11.306C21 17.2697 12.2324 25.4226 11.2326 26.3323C10.8182 26.71 10.1838 26.7081 9.77177 26.3278C8.76759 25.4225 0 17.2696 0 11.3059C0 5.06168 4.70092 0 10.4999 0C16.2986 0 21 5.06196 21 11.306ZM15.2728 10.6073C15.2728 13.27 13.1359 15.4287 10.5001 15.4287C7.86421 15.4287 5.72735 13.27 5.72735 10.6073C5.72735 7.94452 7.86421 5.78584 10.5001 5.78584C13.1359 5.78584 15.2728 7.94452 15.2728 10.6073Z" fill="#44C8F5"/>
										</svg>
									.vacancy__location__text.text__18 Москва
								.vacancy__row 
									.vacancy__experience
										.vacancy__experience__title.text__12 Опыт работы:
										.vacancy__experience__text.text__12 не требуется
									.vacancy__schedule
										.vacancy__schedule__title.text__12 График работы:
										.vacancy__schedule__text.text__12 понедельник- пятница с 9:00 до 18:00
								.vacancy__list
									.vacancy__list__title.title__24 Обязанности
									ul 
										li Выстраивание долгосрочных отношений с клиентами
										li Развитие активной клиентской базы: работа с действующими и поиск новых клиентов (действенные инструменты есть!)
										li Проводить переговоры на уровне первых лиц компании
										li Обеспечивать полный цикл работы с клиентами
										li Вести отчетность в CRM системе и внутренний документооборот
								.vacancy__list
									.vacancy__list__title.title__24 Требования:
									ul 
										li Высокий уровень самоорганизации и нацеленность на результат
										li Практический опыт продаж приветствуется
										li Навыки в поиске и привлечении новых клиентов приветствуется
										li Навыки работы в CRM приветствуется (1С, Битрикс 24)
										li Личные качества: отличные коммуникативные навыки (устные и письменные)
								.vacancy__list
									.vacancy__list__title.title__24 Условия:
									ul 
										li  Высокий уровень самоорганизации и нацеленность на результат
										li Практический опыт продаж приветствуется
										li Навыки в поиске и привлечении новых клиентов приветствуется
										li Навыки работы в CRM приветствуется (1С, Битрикс 24)
										li Личные качества: отличные коммуникативные навыки (устные и письменные)
								.vacancy__skills
									.vacancy__skills__title.title__24 Ключевые навыки
									.vacancy__skills__list
										.vacancy__skills__list__item.text__18 Активные продажи
										.vacancy__skills__list__item.text__18 Поиск и привлечение клиентов
										.vacancy__skills__list__item.text__18 Деловое общение
										.vacancy__skills__list__item.text__18 Стрессоустойчивость
										.vacancy__skills__list__item.text__18 Коммуникабельность
										.vacancy__skills__list__item.text__18 Работа с большим объемом информации
								.vacancy__contacts
									.vacancy__contacts__title.title__24 Контактная информация:
									a(href="tel:+88000000000").vacancy__contacts__link.text__18  тел.: 8 800 000-00-00
									a(href="mailto:").vacancy__contacts__link.text__18 e-mail: info@skyfish.ru
								.vacancy__adress 
									.vacancy__adress__title.title__24 Адрес: 
									.vacancy__adress__text.text__18 Москва, Новомосковский административный округ, Киевское шоссе, 21-й километр, 3с1

					.layout__col
						.phone-call
							.phone-call__title.title__32 
								!="ОСТАЛИСЬ ВОПРОСЫ? <br> НАПИШИТЕ ИЛИ ЗАКАЖИТЕ <br> ЗВОНОК"
							a(href="#").btn--box.phone-call__btn.js-phone-call__btn
								.btn.btn--circle
									<svg xmlns="http://www.w3.org/2000/svg" width="11" height="8" viewBox="0 0 11 8" fill="none">
									<path d="M10.0999 4.21591L1.22221 4.11643M6.42527 1.06079L10.0999 4.21591L6.42527 1.06079ZM10.0999 4.21591L6.86969 7.29365L10.0999 4.21591Z" stroke="#07171D" stroke-width="1.33502" stroke-linecap="round" stroke-linejoin="round"/>
									</svg>
								.btn--box__text Заказать звонок
		.contacts__map
			#js-map.contacts__map__item
				//- <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aebeaff5254b284c038cedd4e4eace9ceb6df9e58d1e143167db02be7b369ebb9&amp;source=constructor" width="100%" height="100%" frameborder="0"></iframe>		

		include ../../blocks/modules/footer/footer

		//footer.footer.footer__animation.footer__animation--personally.js-footer__animation
			.footer__logo 
				img(src="img/logo__white.png" alt="")
			.footer__title.title__170 
				!="Понимаем море, слышим людей"
			.footer__menu 
				ul.footer__menu__list
					li.footer__menu__list__title Каталог
					li.footer__menu__list__item
						a(href="#") Рыба охлажденная
					li.footer__menu__list__item
						a(href="#") Рыба свежемороженая
					li.footer__menu__list__item
						a(href="#") Филе охлажденное
					li.footer__menu__list__item
						a(href="#") Филе свежемороженое
					li.footer__menu__list__item
						a(href="#") Морепродукты
					li.footer__menu__list__item
						a(href="#") Субпродукты
				ul.footer__menu__list
					li.footer__menu__list__title О компании
					li.footer__menu__list__item
						a(href="#") Производство
					li.footer__menu__list__item
						a(href="#") Склад и логистика
					li.footer__menu__list__item
						a(href="#") мы в социуме
					li.footer__menu__list__item
						a(href="#") карьера в skyfish
					li.footer__menu__list__item
						a(href="#") наша команда
				ul.footer__menu__list
					li.footer__menu__list__title А и еще...
					li.footer__menu__list__item
						a(href="#") контакты
					li.footer__menu__list__item
						a(href="#") Личный кабинет
					li.footer__menu__list__item
						a(href="#") Документы
					li.footer__menu__list__item
						a(href="#") Новости
					li.footer__menu__list__item
						a(href="#") Вопросы и ответы (FAQ)
			a(href="#").btn--box.footer__btn
				.btn.btn--circle
					<svg xmlns="http://www.w3.org/2000/svg" width="11" height="8" viewBox="0 0 11 8" fill="none">
					<path d="M10.0999 4.21591L1.22221 4.11643M6.42527 1.06079L10.0999 4.21591L6.42527 1.06079ZM10.0999 4.21591L6.86969 7.29365L10.0999 4.21591Z" stroke="#07171D" stroke-width="1.33502" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
				.btn--box__text Подробнее
			.footer__bg
				img(src="img/footer__bg.png" alt="")
			.footer__agreement
				.footer__agreement__date.title__24 © 2023 — 2024
				a(href="#").footer__agreement__text.title__24 
					!="Пользовательское <br>соглашение"