section.ap-history.js-history-section
    .container.ap-history__container
        +new-btn({
            text: 'История компании',
            cMode: 'blue',
            vMode: 'big'
        })(data-modal="historyModal")
        .ap-history__text Группа компаний, поставляющая рыбу и&nbsp;морепродукты на российский рынок из&nbsp;11 стран,
            span осуществляющая производственный комплекс по&nbsp;переработке и фасовке рыбы, активно реализующая продукцию от Калининграда до&nbsp;любого города Российской Федерации.
