section.ap-history(data-anim-content)
    .container.ap-history__container
        +new-btn({
            text: 'История компании',
            cMode: 'blue',
            vMode: 'big'
        })(data-hystmodal="#historyModal")
        .ap-history__text Группа компаний, поставляющая рыбу и морепродукты на российский рынок из 11 стран, 
            span осуществляющая производственный комплекс по переработке и фасовке рыбы, активно реализующая продукцию от Калининграда до любого города Российской Федерации.
