.ap-main-screen {
    background-size: 100% 100%;
    position: relative;
    z-index: 80;
    background-color: #fff;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: vw(268);
        background: linear-gradient(0deg, #07171D 0%, rgba(7, 23, 29, 0) 100%);

        @include max(xl) {
            height: vwf(268);
        }

        @include max(md) {
            height: vw2(260);
        }
    }

    &__container {
        min-height: 100vh;
        padding: vw(114) 0 vw(50);
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @include max(xl) {
            padding: vwf(114) 0 vwf(50);
        }

        @include max(md) {
            min-height: auto;
            padding: vw2(90) 0 vw2(30);
        }
    }

    &__title {
        margin-top: vw(-29);
        font-size: vw(419);
        font-weight: 700;
        line-height: 97.2%;
        color: $white;
        width: 100%;
        text-align: center;

        @include max(xl) {
            margin-top: vwf(-29);
            font-size: vwf(419);
        }

        @include max(md) {
            margin-top: 0;
            font-size: vw2(118);
        }
    }

    &__text {
        max-width: vw(847);
        margin-top: auto;
        font-size: vw(70);
        font-weight: 400;
        line-height: 89%;
        letter-spacing: -0.02em;
        color: $white;
        z-index: 5;

        @include max(xl) {
            max-width: vwf(847);
            font-size: vwf(70);
        }

        @include max(md) {
            max-width: vw2(370);
            margin-top: vw2(300);
            font-size: vw2(40);
        }
    }
}