include ../../../../components/title/title.pug
include ../../../../components/breadcrumbs/breadcrumbs.pug

section.ap-main-screen.js-main-screen(style="background-image: url('../img/ap_main_screen.jpg');")
	.container.ap-main-screen__container
		+breadcrumbs({
			colorMode: 'light',
			items: [
				{
					name: 'Главная',
					link: '#'
				},
				{
					name: 'О компании',
					link: '#'
				}
			]
		})
		+title("h1", "SKY FISH", 'ap-main-screen__title js-about-intro__title')
		.ap-main-screen__text.js-about-intro__text Привозим, продаём,<br>перерабатываем<br>и&nbsp;знаем о&nbsp;рыбе всё