.ap-team-modal {
    .l-modal__content {
        width: vw(640);
        padding: vw(83) vw(49) vw(50) vw(30);
        display: flex;
        flex-direction: column;
        gap: vw(40);
        @include max(md) {
            width: 100%;
            max-width: 100%;
            padding: vw2(83) vw2(49) vw2(50) vw2(30);
            gap: vw2(40);
        }
    }
    &__photo {
        align-self: center;
        color: $fontBlack;
        width: vw(337);
        height: vw(337);
        border-radius: 100%;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__title {
        max-width: vw(485);
        margin-top: vw(26);
        font-size: vw(32);
        line-height: 1.06;
        font-weight: 500;
        @include max(md) {
            max-width: vw2(485);
            margin-top: vw2(26);
            font-size: vw2(32);
        }
    }
    &__text {
        max-width: vw(477);
        font-size: vw(18);
        line-height: 1.4;
        font-weight: 400;
        @include max(md) {
            max-width: vw2(477);
            font-size: vw2(18);
        }
    }
}