
include ../../../../components/l-modal/l-modal

+l-modal("teamCardModal", "ap-team-modal")
    .ap-team-modal__photo
        img(src="img/employee_photo.jpg" alt="employee")
    .ap-team-modal__title История о&nbsp;том, как попал на&nbsp;работу в&nbsp;SkyFish
    .ap-team-modal__text 
        p Иван был обычным парнем, который жил в&nbsp;небольшом городке и&nbsp;мечтал о&nbsp;карьере в крупной компании. Он всегда был любознательным и&nbsp;любил решать сложные задачи, поэтому решил попробовать свои силы в&nbsp;сфере логистики.
        p Однажды он услышал о&nbsp;вакансии логиста в&nbsp;одной из крупнейших компаний страны. Иван решил отправить свое резюме и&nbsp;вскоре получил приглашение на&nbsp;собеседование.