.society-intro {
    padding-top: vw(131);
    padding-bottom: vw(727);
    background-image: url("../img/society-intro.png");
    background-size: cover;
    background-position: center;

    @include max(md) {
        padding-top: vw2(150);
        padding-bottom: vw2(600);
    } 

    &__title {
        color: $white;
        font-size: vw(171);
        line-height: 0.97;
        @include max(md) {
            font-size: vw2(50)
        } 
    }
}