.amount-input(data-js="amountInput")
    span.amount-input__change.amount-input__minus.min
        svg 
            use(xlink:href=`img/sprites/sprite.svg#minus`)
    input.amount-input__value(type="number" name="amount" value="1" autocomplete="off")
    span.amount-input__change.amount-input__plus 
        svg 
            use(xlink:href=`img/sprites/sprite.svg#plus`)