section.category-desc
    .container
        .category-desc__title Продажа свежей рыбы высочайшего качества - идеальный выбор для гурманов!
        .category-desc__text 
            p Добро пожаловать в наш магазин, где мы предлагаем широкий ассортимент свежей и качественной рыбы для истинных гурманов.  Мы заботимся о том, чтобы каждый наш клиент получил только лучшую продукцию, поэтому мы работаем только с проверенными поставщиками и следим за свежестью товара.

            p В нашем каталоге вы найдете:
            ul 
                li лосось
                li сибас
                li крабы
                li осьминоги


