include ../../../../components/title/title.pug
include ../../../../components/new-btn/new-btn.pug
include ../../../../components/product-card/product-card.pug

section.category-intro 
    .container
        +title("h1", "Рыба <br>охлажденная", "title__82 category-intro__title")
        .category-intro__list
            .category-intro__controls
                +new-btn({
                    classes: '.category-intro__mode-btn',
                    tag: 'button',
                    vMode: 'icon',
                    iconName: 'cards_mode',
                    cMode: 'transparent',
                })
                +new-btn({
                    classes: '.category-intro__mode-btn',
                    tag: 'button',
                    vMode: 'icon',
                    iconName: 'rows_mode',
                    cMode: 'transparent',
                })
            .category-intro__cards
                +product-card("category-intro__card")
                +product-card("category-intro__card")
                +product-card("category-intro__card")
                +product-card("category-intro__card")
                +product-card("category-intro__card")
                +product-card("category-intro__card")
                +product-card("category-intro__card")
                +product-card("category-intro__card")
                +product-card("category-intro__card")
                +product-card("category-intro__card")
                +product-card("category-intro__card")
                +product-card("category-intro__card")
