.preloader {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
	&__section {
		position: fixed;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		z-index: 99999;
		&.no-active {
			.preloader__animation {
				transition: all $tr-time;
				opacity: 0;
				visibility: hidden;
			}
			.preloader__picture  {
				transition: all $tr-time;
				opacity: 0;
				visibility: hidden;
			}

		}
		.container {
			height: 100%;
			max-width: 100%;
			display: flex;
			flex-direction: column;
			@include max(md) {
				max-width: 100%;
			}
		}
		.layout--five {
			position: absolute;
			top: 0;
			left: 0;
			display: flex;
			width: 100%;
			flex-flow: row nowrap;
			height: 100%;
			align-items: stretch;
			&__col {
				align-items: center;
				flex: 1 0 20%;
				max-width: 20%;
				padding: 0;
				margin: 0	;
				background: $blueLight;
				border: vw(5) solid $blueLight;
				&:nth-child(1) {
					animation: heightCol $tr-time-slow ease 3.9s 1 normal forwards;
					
				}
				&:nth-child(2) {
					animation: heightCol $tr-time-slow ease 3.8s 1 normal forwards;

				}
				&:nth-child(3) {
					animation: heightCol $tr-time-slow ease 3.7s 1 normal forwards;

				}
				&:nth-child(4) {
					animation: heightCol $tr-time-slow ease 3.6s 1 normal forwards;
				}
				&:nth-child(5) {
					animation: heightCol $tr-time-slow ease 3.5s 1 normal forwards;
				}

				@include max(md) {
					border: vw2(5) solid $blueLight;
				}
			}

		}
	}
	&__animations {
		position: relative;
		width: 100%;
		z-index: 99999;
		margin-top: auto;
		margin-bottom: 15.2vh;
		height: vwf(30);
		@include max(md) {
			height: vw2(20);
			margin-bottom: auto;
			margin-top: vw2(50);
		}
	}
	&__animation {
		position: absolute;
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		transition: all $tr-time;
		img {
			position: relative;
			display: block;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: left center;
		}
		&__2 {
			width: 100%;
			animation: myAnim 3.5s ease 0s 1 normal forwards;
			@include max(md) {
				width: 100%;
			}
		}	
	}
	&__picture  {
		position: relative;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		width: vw(171);
		transition: all $tr-time;
		@include max(md) {
			width: vw2(150);
		}
		&__wrap {
			margin-top: calc(50vh - (vw(171) / 2));
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			z-index: 5;
			@include max(md) {
				margin-top: calc(50vh - (vw2(150) / 2));
			}
		}

		&::before {
				position: relative;
				content: "";
				width: 100%;
				padding-top: 89.47%;
		}
		picture, img {
				position: relative;
				display: block;
				width: 100%;
				height: 100%;
				object-fit: contain;
				object-position: center center;
		}
}

}

@keyframes myAnim {
	0% {
		width: 0;
	}

	100% {
		width: 100%;
	}
}
@keyframes heightCol {
	0% {
		height: 100vh;
	}

	100% {
		height: 0vh;
	}
}
.puff-out-center {
	animation: puff-out-center $tr-time-slow cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
}
@keyframes puff-out-center {
  0% {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    filter: blur(4px);
    opacity: 0;
  }
}