.section.preloader__section.section--gray
	.container
		.preloader__animation.preloader__animation__1
			img(src="img/preloader__bg--1.png", alt="")
		.preloader__animation.preloader__animation__2
			img(src="img/preloader__bg--2.png", alt="")
		.layout--five
			.layout--five__col
			.layout--five__col
			.layout--five__col
			.layout--five__col
			.layout--five__col
		.preloader__picture__wrap
			.preloader__picture 
				img(src="img/svg/preloader__img.svg", alt="")