mixin title(tag="h2", text="Заголовок", classes)
    case tag
        when 'h1'
            .title.title--h1(class=classes)
                h1!= text
        when 'h2'
            .title.title--h2(class=classes)
                h2!= text