.l-call-action {
    min-height: vw(599);
    background-color: $blueLight;
    background-image: url("../img/l_call_action_vawes.png");
    background-repeat: no-repeat;
    background-size: vw(861) auto;
    background-position: right vw(-34) top vw(170);
    @include max(md) {
        background-size: vw2(260) auto;
        background-position: right vw2(-34) bottom vw2(20);
    }
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: vw(20) 0;
        @include max(md) {
            flex-direction: column;
            gap: vw2(24);
            padding: vw2(20) 0;
        }
    }
    &__title {
        max-width: vw(960);
        font-size: vw(82);
        font-weight: 500;
        line-height: 0.97;
        text-transform: uppercase;
        color: $white;
        @include max(md) {
            max-width: 100%;
        }
    }
    &__btn.new-btn {
        &:hover {
            background-color: $black;
            .btn--box__text {
                color: $white;
            }
            .btn.btn--circle {
                background-color: $white;
                svg use {
                    stroke: $fontBlack;
                }
            }
        }
    }
}