.clients__slider__wrap
	.swiper-container.clients__slider.js-clients__slider
		.swiper-wrapper
			.clients__slide.swiper-slide
				img(src="img/clients__slide__1.png" alt="")
				.clients__slide__text 
					!="Прогулки с детьми в парках — заветная петербургская традиция, увековеченная ещё Пушкиным. В парке на Елагином острове летом можно покататься на катамаране или лодке, зимой на коньках. На Диво-острове — на аттракционах. А в Удельном парке зимой строят снежные замки и устраивают битвы на снежках, а ещё тут катаются на лыжах, ватрушках и кормят общительных ручных белок — не забудьте запастись орехами."
			.clients__slide.swiper-slide
				img(src="img/clients__slide__2.png" alt="")
				.clients__slide__text 
					!="В городе есть Музей железных дорог, где можно попробовать себя в роли машиниста. Макет «Петровская акватория» – миниатюрная версия старинного Петербурга с движущимися фигурками и сменой времён года. А ещё — музей магии, где можно попробовать себя в роли фокусника, и музей шоколада. Если вы интересуетесь современным искусством, загляните в Эрарту. На входе ребёнку выдадут квест с заданиями, а на выходе, если на все ответы получится ответить правильно, – подарок."				
			.clients__slide.swiper-slide
				img(src="img/clients__slide__3.png" alt="")
				.clients__slide__text 
					!="Фестивали Петербурга — это возможность окунуться в атмосферу праздника, провести время с семьёй и конечно, узнать что‑то новое. Из ближайших событий, которые не стоит пропускать, – новогодний фестиваль. 6 января в Петербург приедет поезд Деда Мороза — с резиденцией, почтой, фотозоной и настоящим кукольным театром внутри одного из вагонов."
			.clients__slide.swiper-slide
				img(src="img/clients__slide__4.png" alt="")
				.clients__slide__text 
					!="Детское питание «Тёма» производится на заводе в Санкт-Петербурге из молока с местных ферм, поэтому мамы могут быть уверены в свежести и натуральности продуктов. В каждой упаковке секретный ингредиент — забота, так что это больше, чем просто «еда из баночки». Творожки и йогурты обогащены пробиотиками, чтобы животику было комфортно и ничто не мешало хорошему настроению. Не удивительно, что малыши так любят «Тёму», и бренд более 25 лет покоряет сердца многих поколений родителей, бабушек и дедушек."		

	.swiper-buttons
		.swiper-button-prev.clients-button-prev
			svg
				use(xlink:href=`img/sprites/sprite.svg#arrow_btn`)
		.swiper-button-next.clients-button-next
			svg
				use(xlink:href=`img/sprites/sprite.svg#arrow_btn`)
