.l-intro {
    padding-top: vw(115);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    @include max(md) {
        padding-top: vw2(100);
        min-height: vw2(650);
    } 

    &__breadcrumbs {
        padding-left: vw(20);
        @include max(md) {
            padding-left: vw2(5);
        } 
    }

    &__title {
        color: $white;
        font-size: vw(171);
        line-height: 0.97;
        @include max(md) {
            font-size: vw2(50)
        } 
    }
}