.breadcrumbs {
    position: relative;
    z-index: 30;
    &__list {
        list-style-type: none;
        display: flex;
        gap: vw(4);
        font-size: vw(12);
        line-height: 1.225;
        font-weight: 600;
        text-transform: uppercase;
        color: $fontBlack;
        @include max(md) {
            gap: vw2(4);
            font-size: vw2(12);
        } 
    }
    &__item {
        a {
            transition: $tr-time-fast;
            cursor: pointer;
            color: inherit;
        }
        &:hover {
            a {
                color: $blueHover;
            }
        }
    }
    &__item--current {
        opacity: 0.16;
        pointer-events: none;
    }
}

.breadcrumbs.breadcrumbs--dark {
    .breadcrumbs__list {
        color: $fontBlack;
    }
    .breadcrumbs__item--current {
        opacity: 0.16;
    }
}

.breadcrumbs.breadcrumbs--light {
    .breadcrumbs__list {
        color: $white;
    }
    .breadcrumbs__item--current {
        opacity: 1;
    }
}