.breadcrumbs {
    &__list {
        list-style-type: none;
        display: flex;
        gap: vw(4);
        font-size: vw(12);
        line-height: 1.225;
        font-weight: 600;
        text-transform: uppercase;
        color: $white;
    }
    .breadcrumbs__item--current {
        opacity: 0.24;
    }
}

.breadcrumbs.breadcrumbs--dark {
    .breadcrumbs__list {
        color: $fontBlack;
    }
    .breadcrumbs__item--current {
        opacity: 0.16;
    }
}