mixin vacancy-search(classes='')
    include ../input-radio/input-radio.pug
    include ../input-range/input-range.pug

    .vacancy-search(class= classes data-js="vacancySearch")
        label.vacancy-search__label
            input.vacancy-search__input(type="text" placeholder="Поиск")
        .vacancy-search__tags(data-js="vacancySearchTags")
        .vacancy-search__filter.search-filter(data-js="searchFilter")
            +new-btn({
                classes: 'search-filter__open',
                tag: 'button',
                vMode: 'small',
                text: 'Фильтр',
                icon: 'true',
                iconName: 'arrow_select',
                cMode: 'black',
            })(data-js='searchFilterOpen')
            .search-filter__params
                .search-filter__fields
                    .search-filter__param.search-filter__param--city
                        .search-filter__subtitle Город
                        +input-radio()
                        +input-radio({
                            value: 'Калининград',
                            text: 'Калининград',
                        })
                    .search-filter__param.search-filter__param--salary
                        +input-range()

                +new-btn({
                    classes: 'search-filter__apply',
                    tag: 'button',
                    vMode: 'small',
                    text: 'Применить',
                    icon: 'true',
                    cMode: 'blue',
                })(data-js='searchFilterApply')
