.l-modal {
    position: fixed;
    top: 0;	
    left: auto;
    right: -100vw;
    width: 0vw;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    overflow: hidden;
    transition: all $tr-time;
    z-index: 9999;
    @include max(md) {
        top: vw2(68);	
        height: calc(100vh - vw2(68));
    }

    &.active {
        transition: all $tr-time;
        width: 100vw;
        height: 100vh;
        left: auto;
        right: 0;
    }

    &__close {
		position: absolute;
		right: 10px;
		top: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
        width: vw(57);
        height: vw(57);
        border-radius: 50%;
        background: $blueLight;
        transition: all $tr-time-fast;
        cursor: pointer;
        z-index: 20;
        @include max(md) {
            width: vw2(57);
            height: vw2(57);
        }
        svg {
            width: vw(20);
            height: vw(20);
            @include max(md) {
                width: vw2(20);
                height: vw2(20);
            }
            use {
                width: 100%;
                height: 100%;
                fill: $white;
            }
        }
        &:hover {
            transition: all $tr-time-fast;
            background: $blueHover;
        }
	} 
	&__overlay {
		position: absolute;
		left: 0;
		right: 0;
		display: block;
		width: 100%;
		height: 100%;
		background: rgba(7, 23, 29, 0.28);
		z-index: 990;
	}
    &__content {
        position: relative;
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: flex-start;
		background: #fff;
		width: 100%;
		max-width: vw(665);
		padding-top: vw(30);
		height: 100vh;
		z-index: 9999;
		overflow: auto;
        @include max(md) {
            max-width: 100%;
            padding-top: vw2(30);
        }
    }
}