mixin l-modal(modalId="myModal")
    .l-modal(data-id=modalId)
        .l-modal__overlay(data-js="lModalOverlay")
        .l-modal__content
            .l-modal__close(data-js="lModalClose")
                svg
                    use(xlink:href=`img/sprites/sprite.svg#header_close`)
            block