include ../../../../components/title/title.pug
include ../../../../components/vacancy-card/vacancy-card.pug
include ../../../../components/vacancy-search/vacancy-search.pug

section.career-vacancies
    .container
        +title('h2', 'Наши вакансии', 'career-vacancies__title')
        +vacancy-search('career-vacancies__search')
        .career-vacancies__cards
            +vacancy-card()
            +vacancy-card({
                classes: '',
                title: 'Специалист по&nbsp;сертификации и&nbsp;оформлению технической документации',
                city: 'Ростов-на-Дону, улица Пескова, 1',
                salary: '29 000 руб.',
            })
            +vacancy-card({
                classes: '',
                title: 'Специалист по&nbsp;сертификации и&nbsp;оформлению технической документации',
                city: 'Ростов-на-Дону, улица Пескова, 1',
                salary: '29 000 руб.',
            })
            +vacancy-card({
                classes: '',
                title: 'Специалист по&nbsp;сертификации и&nbsp;оформлению технической документации',
                city: 'Ростов-на-Дону, улица Пескова, 1',
                salary: '29 000 руб.',
            })
            +vacancy-card({
                classes: '',
                title: 'Специалист по&nbsp;сертификации и&nbsp;оформлению технической документации',
                city: 'Ростов-на-Дону, улица Пескова, 1',
                salary: '29 000 руб.',
            })
            +vacancy-card({
                classes: '',
                title: 'Специалист по&nbsp;сертификации и&nbsp;оформлению технической документации',
                city: 'Ростов-на-Дону, улица Пескова, 1',
                salary: '29 000 руб.',
            })
