-
    const defaultPaginationProps = {
        classes: '',
        count: 6
    }

mixin pagination(props = defaultPaginationProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultPaginationProps.classes,
            count: props.count ? props.count : defaultPaginationProps.count,
        }
    .pagination.pagination--start(class= checkProps.classes)
        +new-btn({
            classes: 'pagination__btn pagination__prev',
            tag: 'button',
            vMode: 'icon',
            icon: 'true',
            iconName: 'arrow_btn',
            cMode: 'white',
        })
        - let i = 1
            while i <= checkProps.count
                a.pagination__page(href="javascript:void(0);" class= i===1 ? "active" : "")= i
                - i++
        +new-btn({
            classes: 'pagination__btn pagination__next',
            tag: 'button',
            vMode: 'icon',
            icon: 'true',
            iconName: 'arrow_btn',
            cMode: 'white',
        })