.pagination {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    gap: vw(11);

    @include max(xl) {
        gap: vwf(11);
    }

    @include max(md) {
        gap: vw2(11);
    }

    &__page {
        display: flex;
        align-items: center;
        justify-content: center;
        width: vw(75);
        height: vw(75);
        background-color: $white;
        border: 1px solid $greyLight;
        color: $fontBlack;
        font-size: vw(24);
        font-weight: 600;
        line-height: 1.2;
        transition: $tr-time-fast;

        @include max(xl) {
            width: vwf(75);
            height: vwf(75);
            font-size: vwf(24);
        }

        @include max(md) {
            width: vw2(50);
            height: vw2(50);
            font-size: vw2(16);
        }

        &.active,
        &:hover {
            background-color: $blueHover;
            color: $white;
            border-color: $blueHover;
        }
    }

    &__btn {
        border: 1px solid $greyLight;
        width: vw(75);
        height: vw(75);
        border-radius: 0;

        @include max(xl) {
            width: vwf(75);
            height: vwf(75);
        }

        @include max(md) {
            width: vw2(50);
            height: vw2(50);
        }

        .new-btn__icon,
        svg {
            width: vw(75);
            height: vw(75);

            @include max(xl) {
                width: vwf(75);
                height: vwf(75);
            }

            @include max(md) {
                width: vw2(50);
                height: vw2(50);
            }
        }

        &:hover {
            .new-btn__icon svg use {
                stroke: $white;
            }
        }

        &.pagination__prev {
            .new-btn__icon svg {
                transform: rotate(180deg);
            }
        }
    }

    &--start {
        .pagination__prev {
            pointer-events: none;
            opacity: 0.5;
        }
    }

    &--end {
        .pagination__next {
            pointer-events: none;
            opacity: 0.5;
        }
    }

}