section.career-numbers(data-js="careerNumbersSection")
	.career-numbers__cards
		.layout--trio
			.layout--trio__col.js-advantage__col--1
				.career-numbers__title несколько цифр <br>группы компаний
				.career-numbers__card.number-card
					.number-card__num 110+
					.number-card__title.title__32 сотрудников

			.layout--trio__col.js-advantage__col--2
				.career-numbers__card.number-card
					.number-card__num 50+
					.number-card__title.title__32 специальностей

			.layout--trio__col.js-advantage__col--3
				.career-numbers__card.number-card
					.number-card__num 35-40
					.number-card__title.title__32 средний возраст