mixin ap-advantages-card(bgColor="black", text="11 стран из которых поставляем рыбу и морепродукты")

    .ap-advantages-card(class = 'ap-advantages-card--'+bgColor)
        .ap-advantages-card__text= text


