.ap-advantages-card {
    width: 100%;
    height: vw(640);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: vw(47) vw(39);
    border: 1px solid rgba(255, 255, 255, 0.32);

    @include max(xl) {
        height: vwf(640);
        padding: vwf(47) vwf(39);
    }

    @include max(md) {
        height: auto;
        min-height: vw2(215);
        padding: vw2(20);
    }

    &__text {
        max-width: vw(456);
        font-size: vw(32);
        font-weight: 500;
        line-height: 1.1;
        text-transform: uppercase;

        @include max(xl) {
            max-width: vwf(456);
            font-size: vwf(32);
        }

        @include max(md) {
            max-width: vw2(480);
            font-size: vw2(30);
        }
    }

    &--blue {
        background-color: $blueLight;
        color: $white;
    }

    &--white {
        background-color: $white;
        color: $fontBlack;
        border: 1px solid rgba(7, 23, 29, 0.35);
    }

    &--black {
        background-color: $fontBlack;
        color: $white;
    }

}