section.career-photos
    .container
        .career-photos__slider(data-js="careerPhotosSlider")
            .swiper-wrapper
                .swiper-slide.career-photos__slide
                    a.career-photos__img(href="img/career_photo_1.png" data-fancybox="careerPhotos" data-caption="Короткое описание 1")
                        img(src="img/career_photo_1.png" alt="слайд 1")
                .swiper-slide.career-photos__slide
                    a.career-photos__img(href="img/career_photo_2.png" data-fancybox="careerPhotos" data-caption="Короткое описание 2")
                        img(src="img/career_photo_2.png" alt="слайд 2")
                .swiper-slide.career-photos__slide
                    a.career-photos__img(href="img/career_photo_3.png" data-fancybox="careerPhotos" data-caption="Короткое описание 3")
                        img(src="img/career_photo_3.png" alt="слайд 3")
                .swiper-slide.career-photos__slide
                    a.career-photos__img(href="img/career_photo_1.png" data-fancybox="careerPhotos" data-caption="Короткое описание 4")
                        img(src="img/career_photo_1.png" alt="слайд 4")
                .swiper-slide.career-photos__slide
                    a.career-photos__img(href="img/career_photo_2.png" data-fancybox="careerPhotos" data-caption="Короткое описание 5")
                        img(src="img/career_photo_2.png" alt="слайд 5")
                .swiper-slide.career-photos__slide
                    a.career-photos__img(href="img/career_photo_3.png" data-fancybox="careerPhotos" data-caption="Короткое описание 6")
                        img(src="img/career_photo_3.png" alt="слайд 6")
            .career-photos__control.swiper-button-prev
                svg
                    use(xlink:href=`img/sprites/sprite.svg#arrow_btn`)
            .career-photos__control.swiper-button-next
                svg
                    use(xlink:href=`img/sprites/sprite.svg#arrow_btn`)