.career-photos {
    padding: vw(35) 0;
    overflow: hidden;
    @include max(md) {
        padding: vw2(105) 0 0;
    }

    &__slide {
        width: vw(653);
        height: vw(427);
        @include max(md) {
            width: vw2(400);
            height: vw2(262);
        }
    }

    &__slider {
        &:hover {
            .career-photos__control {
                opacity: 1;
                &.swiper-button-disabled {
                    opacity: 0.35;
                }
            }
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        &::after {
            content: "";
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 5;
            transition: all $tr-time;
        }
        &:hover::after {
            transition: all $tr-time;
            content: url(../img/zoom.svg);
            background: rgba(27, 31, 34, 0.6);
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__control {
        width: vw(59);
        height: vw(59);
        background-color: $blueLight;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        transition: $tr-time;
        top: 53.5%;
        opacity: 0;
        &.swiper-button-disabled {
            opacity: 0;
            @include max(md) {
                opacity: 0.35;
            }
        }
        @include max(md) {
            width: vw2(50);
            height: vw2(50);
            opacity: 1;
            top: vw2(-50);
        } 
        &::after {
            content: none;
        }
        &:hover {
            background-color: $blueHover;
        }
        svg {
            width: vw(11);
            height: vw(8);
            @include max(md) {
                width: vw2(11);
                height: vw2(8);
            } 
            use {
                stroke: $white;
                fill: none;
                width: vw(11);
                height: vw(8);
                @include max(md) {
                    width: vw2(11);
                    height: vw2(8);
                } 
            }
        } 
        &.swiper-button-prev {
            transform: rotate(180deg);
            left: 0;
            @include max(md) {
                right: vw2(70);
                left: auto;
            } 
        }
        &.swiper-button-next {
            right: 0;
        }
    }
}