.production-services {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    @include max(md) {
        padding: vw2(100) 0 vw2(30);
        min-height: vw2(650);
    } 

    &__container {
        min-height: 100%;
    }

    &__cards {
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }

    &__col {
        flex-basis: calc(100% / 3);
        flex-grow: 0;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .service-card {
        width: 100%;
        height: vw(640);
        display: flex;
        flex-direction: column;
        background-color: $white;
    }
}