section.production-services(data-js='productionServicesSection' style="background-image: url(img/production_intro_cover_2.png);")
    .production-services__container
        .production-services__cards
            .production-services__col.production-services__col--1.js-production-services__col--1
                .production-services__title Наши возможности и услуги на производстве
                .service-card.service-card--black
                    .service-card__text более 70 SKU свежемороженого и охлаждённого филе форели, лосося, горбуши, минтая, трески, окуня и судака
                .service-card.service-card--black
                    .service-card__text фасовка рыбы и морепродуктов (россыпь, фиксированный вес)

            .production-services__col.production-services__col--2.js-production-services__col--2
                .service-card
                    .service-card__text разделка охлаждённой и замороженной рыбы на филе, стейки, куски, а также потрошение, обезглавливание, снятие кожи и удаление чешуи
                .service-card
                    .service-card__text упаковка продукции в пакеты под запайку и под вакуум, skin–упаковка

            .production-services__col.production-services__col--3.js-production-services__col--3
                .service-card.service-card--blue
                    .service-card__text заморозка охлаждённой и&nbsp;свежей рыбы любого размера
                .service-card.service-card--blue
                    .service-card__text качество продукции подтверждается всеми необходимыми документами и сертификатами