.l-map {
    position: relative;
    height: vw(800);
    padding: vw(32) vw(25);
    overflow: hidden;
    @include max(md) {
        height: vw2(450);
        padding: vw2(32) vw2(20);
    }
    &__content {
        display: flex;
        justify-content: space-between;
        gap: vw(50);
        height: 100%;
        overflow: hidden;
        @include max(md) {
            gap: vw2(25);
        }
    }
    &__left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    &__cities {
        position: relative;
        z-index: 5;
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
        height: vw(80);
        @include max(md) {
            height: vw2(45);
        }
    }
    &__description {
        margin-top: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: vw(30);
        width: vw(665);
        min-height: vw(336);
        padding: vw(20) vw(35) vw(30);
        background-color: $white;
        z-index: 5;
        @include max(md) {
            gap: vw2(20);
            width: vw2(300);
            min-height: vw2(200);
            padding: vw2(10) vw2(20) vw2(15);
        }
    }
    &__title {
        font-size: vw(60);
        font-weight: 500;
        line-height: 1.117;
        color: $fontBlack;
        @include max(md) {
            font-size: vw2(22);
        }
    }
    &__text {
        font-size: vw(18);
        font-weight: 400;
        line-height: 1.389;
        color: $fontBlack;
        @include max(md) {
            font-size: vw2(14);
        }
    }
    &__city {
        font-size: vw(14);
        color: $fontBlack;
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        min-width: vw(166);
        &.active {
            background-color: $blueLight;
            color: $white;
        }
        @include max(md) {
            padding: vw2(10) vw2(20);
        }
    }
    &__map {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
    &__addresses {
        position: relative;
        z-index: 5;
        flex-basis: vw(603);
        flex-grow: 0;
        flex-shrink: 0;
        display: none;
        height: 100%;
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: #99c4d3 rgba(0, 0, 0, 0);
        margin-left: auto;
        &::-webkit-scrollbar {
            height: 2px;
            width: 2px;
        }
        &::-webkit-scrollbar-track {
            background: rgba(0, 0, 0, 0);
        }
        &::-webkit-scrollbar-thumb {
            background-color: #99c4d3;
            border-radius: 10px;
            border: none;
        }

        &.active {
            display: block;
        }
        @include max(md) {
            flex-basis: vw2(200);
        }
    }
    &__address:not(:last-child) {
        border-bottom: 1px solid rgba(0,0,0,0.2);
    }
    .map-address {
        padding: vw(15) vw(20) vw(15) vw(24);
        background-color: $white;
        color: $fontBlack;
        transition: all $tr-time linear;
        cursor: pointer;
        @include max(md) {
            padding: vw2(10) vw2(10) vw2(10) vw2(12);
        }
        &__header {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: vw(30);
            @include max(md) {
                margin-bottom: vw2(21);
            }
        }
        &__title {
            font-size: vw(30);
            font-weight: 500;
            line-height: 1.09;
            text-transform: uppercase;
            @include max(md) {
                font-size: vw2(18);
            }
        }
        &__icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: vw(28);
            height: vw(35);
            @include max(md) {
                width: vw2(14);
                height: vw2(18);
            }
            svg, svg use {
                width: vw(28);
                height: vw(35);
                @include max(md) {
                    width: vw2(14);
                    height: vw2(18);
                }
            }
            use {
                fill: $blueLight; 
            }
        }
        &__item {
            margin-top: vw(25);
            @include max(md) {
                margin-top: vw2(12);
            }
        }
        &__subtitle {
            margin-bottom: vw(5);
            font-size: vw(14);
            font-weight: 600;
            line-height: 1.25;
            text-transform: uppercase;
            @include max(md) {
                margin-bottom: vw2(5);
                font-size: vw2(12);
            }
        }
        &__text {
            font-size: vw(18);
            font-weight: 400;
            line-height: 1.4;
            @include max(md) {
                font-size: vw2(14);
            }
        }

        &.active, &:hover {
            background-color: $blueLight;
            color: $white;
            .map-address__icon {
                use {
                    fill: $white; 
                }
            }
        }
        &.active {
            pointer-events: none;
        }
    }
    .ymaps-2-1-79-map-copyrights-promo, .ymaps-2-1-79-copyright {
        display: none;
    }
}

.l-map.l-map--first {
    padding-top: vw(115);
    height: vw(915);
    @include max(md) {
        height: vw2(520);
        padding-top: vw2(90);
    }
    .l-map__content {
        padding-top: vw(39);
        @include max(md) {
            padding-top: vw2(20);
        }
    }
    .breadcrumbs.breadcrumbs--dark .breadcrumbs__item--current {
        opacity: 0.6;
    }
}