section.l-map
    .l-map__cities(data-js='cities')
        +new-btn({
            classes: 'l-map__city active',
            tag: 'button',
            vMode: 'small',
            text: 'Москва',
            icon: 'false',
            cMode: 'white',
        })(data-city="moscow")
        +new-btn({
            classes: 'l-map__city',
            tag: 'button',
            vMode: 'small',
            text: 'Калининград',
            icon: 'false',
            cMode: 'white',
        })(data-city="kaliningrad")
    .l-map__addresses.active(data-js="lMapAddresses" data-city="moscow")
        .l-map__address.map-address(data-js='moscowStock1')
            .map-address__header
                .map-address__title Склад
                .map-address__icon 
                    svg
                        use(xlink:href=`img/sprites/sprite.svg#header_position`)
            .map-address__item
                .map-address__subtitle адрес:
                .map-address__text Дмитровское шоссе, 137
            .map-address__item
                .map-address__subtitle контакты:
                .map-address__text 8 800 000-00-00
                .map-address__text info@fish.ru
        .l-map__address.map-address(data-js='moscowStock2')
            .map-address__header
                .map-address__title Склад
                .map-address__icon 
                    svg
                        use(xlink:href=`img/sprites/sprite.svg#header_position`)
            .map-address__item
                .map-address__subtitle адрес:
                .map-address__text Москва, улица Полбина, 33А
            .map-address__item
                .map-address__subtitle контакты:
                .map-address__text 8 800 000-00-00
                .map-address__text info@fish.ru
        .l-map__address.map-address.active(data-js='moscowOffice1')
            .map-address__header
                .map-address__title Офис
                .map-address__icon 
                    svg
                        use(xlink:href=`img/sprites/sprite.svg#header_position`)
            .map-address__item
                .map-address__subtitle адрес:
                .map-address__text Киевское шоссе, 21-й км, д. 3, стр. 1, Бизнес-центр “G10”
            .map-address__item
                .map-address__subtitle контакты:
                .map-address__text 8 800 000-00-00
                .map-address__text info@fish.ru

    .l-map__addresses(data-js="lMapAddresses" data-city="kaliningrad")
        .l-map__address.map-address(data-js='kaliningradStock1')
            .map-address__header
                .map-address__title Склад
                .map-address__icon 
                    svg
                        use(xlink:href=`img/sprites/sprite.svg#header_position`)
            .map-address__item
                .map-address__subtitle адрес:
                .map-address__text Мелиоративная улица, 5Б
            .map-address__item
                .map-address__subtitle контакты:
                .map-address__text 8 800 000-00-00
                .map-address__text info@fish.ru
        .l-map__address.map-address.active(data-js='kaliningradOffice1')
            .map-address__header
                .map-address__title Офис
                .map-address__icon 
                    svg
                        use(xlink:href=`img/sprites/sprite.svg#header_position`)
            .map-address__item
                .map-address__subtitle адрес:
                .map-address__text Тепличная улица, 1
            .map-address__item
                .map-address__subtitle контакты:
                .map-address__text 8 800 000-00-00
                .map-address__text info@fish.ru                

    .l-map__map(data-js="lMap")