-
    const defaultLMapProps = {
        classes: '',
        isFirst: false,
        desc: false,
        controls: false,
        cities: false,
        page: 'page',
        breadcrumbs: {
            classes: '',
            colorMode: 'dark',
            items: [
                {
                    name: 'Главная',
                    link: '#'
                },
                {
                    name: 'Контакты',
                    link: '#'
                }
            ]
        },
    }

mixin l-map(props = defaultLMapProps)
    include ../../components/breadcrumbs/breadcrumbs.pug
    include ../../components/new-btn/new-btn.pug

    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultLMapProps.classes,
            isFirst: props.isFirst ? props.isFirst : defaultLMapProps.isFirst,
            desc: props.desc ? props.desc : defaultLMapProps.desc,
            controls: props.controls ? props.controls : defaultLMapProps.controls,
            cities: props.cities ? props.cities : defaultLMapProps.cities,
            page: props.page ? props.page : defaultLMapProps.page,
            breadcrumbs: props.breadcrumbs ? props.breadcrumbs : defaultLMapProps.breadcrumbs,
        };

        let firstClass = checkProps.isFirst ? " l-map--first" : "";

    section.l-map(class= checkProps.classes + firstClass)
        - if(checkProps.isFirst)
            +breadcrumbs(checkProps.breadcrumbs)
        .l-map__content
            .l-map__left
                - if(checkProps.controls && checkProps.cities)
                    .l-map__cities(data-js='cities')
                        +new-btn({
                            classes: 'l-map__city active',
                            tag: 'button',
                            vMode: 'small',
                            text: 'Москва',
                            icon: 'false',
                            cMode: 'white',
                        })(data-city="moscow")
                        +new-btn({
                            classes: 'l-map__city',
                            tag: 'button',
                            vMode: 'small',
                            text: 'Калининград',
                            icon: 'false',
                            cMode: 'white',
                        })(data-city="kaliningrad")
                - if(checkProps.desc)
                    .l-map__description
                        .l-map__title Наш офис в Москве
                        .l-map__text Головной офис компании расположен в Москве в бизнес-центре «G10» в шаговой доступности от метро «Румянцево». В дизайнерском офисе продумано все до мелочей: оборудованные рабочие места, переговорные комнаты, зоны отдыха, комфортабельная кухня с вкусным кофе, чаем и оборудованной техникой.

            - if(checkProps.controls)
                .l-map__addresses.active(data-js="lMapAddresses" data-city="moscow")
                    .l-map__address.map-address.active(data-id='moscowOffice1' data-coords="55.150972,36.653968" data-js='lMapAddress')
                        .map-address__header
                            - if(checkProps.page === 'logistics')
                                .map-address__title Склад
                            - else
                                .map-address__title Производство                                
                            .map-address__icon 
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#header_position`)
                        .map-address__item
                            .map-address__subtitle адрес:
                            .map-address__text Калужская область, Боровский район, д.Маланьино
                        .map-address__item
                            .map-address__subtitle контакты:
                            .map-address__text +7 (495) 748-86-85 (доб. 204)
                            .map-address__text info@fish.ru
                            .map-address__text Самовывоз: 8:30–17:00
                    .l-map__address.map-address(data-id='moscowStock1' data-coords="55.150972, 36.653968" data-js='lMapAddress')
                        .map-address__header
                            .map-address__title Склад
                            .map-address__icon 
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#header_position`)
                        .map-address__item
                            .map-address__subtitle адрес:
                            .map-address__text Калужская область, Боровский район, д.Маланьино
                        .map-address__item
                            .map-address__subtitle контакты:
                            .map-address__text +7 (495) 748-86-85 (доб. 204)
                            .map-address__text info@fish.ru
                            .map-address__text Самовывоз: 8:30–17:00
                    .l-map__address.map-address(data-id='moscowStock2' data-coords="55.887932, 37.498914" data-js='lMapAddress')
                        .map-address__header
                            .map-address__title Склад
                            .map-address__icon 
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#header_position`)
                        .map-address__item
                            .map-address__subtitle адрес:
                            .map-address__text Калужская область, Боровский район, д.Маланьино
                        .map-address__item
                            .map-address__subtitle контакты:
                            .map-address__text +7 (495) 748-86-85 (доб. 204)
                            .map-address__text info@fish.ru
                            .map-address__text Самовывоз: 8:30–17:00

                - if(checkProps.cities)
                    .l-map__addresses(data-js="lMapAddresses" data-city="kaliningrad")
                        .l-map__address.map-address(data-id='kaliningradStock1' data-coords="54.732777, 20.595486" data-js='lMapAddress')
                            .map-address__header
                                .map-address__title Склад
                                .map-address__icon 
                                    svg
                                        use(xlink:href=`img/sprites/sprite.svg#header_position`)
                            .map-address__item
                                .map-address__subtitle адрес:
                                .map-address__text Калужская область, Боровский район, д.Маланьино
                            .map-address__item
                                .map-address__subtitle контакты:
                                .map-address__text 8 800 000-00-00
                                .map-address__text info@fish.ru
                                .map-address__text Самовывоз: 8:30–17:00
                        .l-map__address.map-address.active(data-id='kaliningradOffice1' data-coords="54.668160, 20.427968" data-js='lMapAddress')
                            .map-address__header
                                .map-address__title Производство
                                .map-address__icon 
                                    svg
                                        use(xlink:href=`img/sprites/sprite.svg#header_position`)
                            .map-address__item
                                .map-address__subtitle адрес:
                                .map-address__text Калужская область, Боровский район, д.Маланьино
                            .map-address__item
                                .map-address__subtitle контакты:
                                .map-address__text 8 800 000-00-00
                                .map-address__text info@fish.ru   
                                .map-address__text Самовывоз: 8:30–17:00             

        .l-map__map(data-js="lMap")