.new-btn {
    font-family: 'Commissioner', sans-serif;
    font-size: vw(12);
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.225;
    border: none;
    transition: all $tr-time-fast linear;
    text-decoration: none;
    cursor: pointer;
    @include max(md) {
        font-size: vw2(12);
    }
    &--link {
        background-color: transparent;
    }
    &--big {
        width: vw(411);
        display: flex;
        padding: vw(20) vw(20) vw(22);
        align-items: flex-end;
        justify-content: space-between;
        font-size: vw(20);
        @include max(md) {
            width: vw2(260);
            padding: vw2(20) vw2(20) vw2(22);
        }
        &.new-btn--blue {
            &:hover {
                background-color: $white;
                color: $blueLight;
                .new-btn__icon {
                    background-color: $blueLight;
                    transition: all $tr-time-fast linear;
                    svg {
                        use {
                            transition: all $tr-time-fast linear;
                            stroke: $white;
                            fill: none;
                        }
                    }
                }
            }
        }
        .new-btn__icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: vw(59);
            height: vw(59);
            background-color: $white;
            border-radius: 100%;
            margin-bottom: vw(120);
            @include max(md) {
                width: vw2(50);
                height: vw2(50);
                margin-bottom: vw2(48);
            }
            svg {
                width: vw(11);
                height: vw(8);
                @include max(md) {
                    width: vw2(11);
                    height: vw2(8);
                }
            }
        }
    }
    &--small {
        width: 100%;
        display: flex;
        padding: vw(30) vw(25) vw(30) vw(18);
        align-items: center;
        justify-content: space-between;
        transition: all $tr-time-fast linear;
        @include max(md) {
            padding: vw2(30) vw2(25) vw2(30) vw2(18);
        }
        .new-btn__icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: vw(12);
            height: vw(8);
            background-color: transparent !important;
            margin-bottom: 0;
            @include max(md) {
                width: vw2(12);
                height: vw2(8);
            }
            svg {
                width: vw(12);
                height: vw(8);
                @include max(md) {
                    width: vw2(12);
                    height: vw2(8);
                }
            }
        }

        &.new-btn--white {
            .new-btn__icon {
                svg {
                    use {
                        stroke: $fontBlack;
                        fill: none;
                    }
                }
            }
            &:hover {
                .new-btn__icon {
                    svg {
                        use {
                            stroke: $white;
                            fill: none;
                        }
                    }
                }
            }
        }

        &.new-btn--black:hover {
            .new-btn__icon {
                svg {
                    use {
                        stroke: $white;
                        fill: none;
                    }
                }
            }
        }
    }
    &--blue {
        background-color: $blueNtn;
        color: $white;
        .new-btn__icon {
            background-color: $white;
            transition: all $tr-time-fast linear;
            svg {
                use {
                    transition: all $tr-time-fast linear;
                    stroke: $fontBlack;
                    fill: none;
                }
            }
        }
        &:hover {
            background-color: $blueHover;
        }
    }
    &--black {
        background-color: $fontBlack;
        color: $white;
        .new-btn__icon {
            svg {
                stroke: $fontBlack;
                fill: none;
            }
        }
        &:hover {
            background-color: $blueHover;
            .new-btn__icon {
                background-color: $white;
                svg {
                    use {
                        stroke: $fontBlack;
                        fill: none;
                    }
                }
            }
        }
    }
    &--white {
        background-color: $white;
        color: $black;
        .new-btn__icon {
            background-color: $blueNtn;
            transition: all $tr-time-fast linear;
            svg {
                use {
                    transition: all $tr-time-fast linear;
                    stroke: $white;
                    fill: none;
                }
            }
        }
        &:hover {
            background-color: $blueHover;
            color: $white;
            .new-btn__icon {
                background-color: $white;
                svg {
                    use {
                        stroke: $fontBlack;
                        fill: none;
                    }
                }
            }
        }
    }

    &--transparent {
        background-color: transparent;
    }

    &--icon {
        display: block;
        width: vw(59);
        height: vw(59);
        border-radius: 100%;
        padding: 0;
        @include max(md) {
            width: vw2(59);
            height: vw2(59);
        }
        &:hover {
            .new-btn__icon {
                background-color: transparent;
            }
        }
        .new-btn__icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: vw(59);
            height: vw(59);
            background-color: transparent;
            @include max(md) {
                width: vw2(59);
                height: vw2(59);
            }
            svg {
                width: vw(11);
                height: vw(8);
                @include max(md) {
                    width: vw2(11);
                    height: vw2(8);
                }
            }
            svg use {
                stroke: $fontBlack;
            }
        }
    }
}