footer.footer.footer__animation.footer__animation--personally.js-footer__animation
	.footer__logo 
		img(src="img/logo__white.png" alt="")
	.footer__title.title__170 
		!="Понимаем море, слышим людей"
	.footer__menu 
		ul.footer__menu__list
			li.footer__menu__list__title Каталог
			li.footer__menu__list__item
				a(href="#") Рыба охлажденная
			li.footer__menu__list__item
				a(href="#") Рыба свежемороженая
			li.footer__menu__list__item
				a(href="#") Филе охлажденное
			li.footer__menu__list__item
				a(href="#") Филе свежемороженое
			li.footer__menu__list__item
				a(href="#") Морепродукты
			li.footer__menu__list__item
				a(href="#") Субпродукты
		ul.footer__menu__list
			li.footer__menu__list__title О компании
			li.footer__menu__list__item
				a(href="#") Производство
			li.footer__menu__list__item
				a(href="#") Склад и логистика
			li.footer__menu__list__item
				a(href="#") мы в социуме
			li.footer__menu__list__item
				a(href="#") карьера в skyfish
			li.footer__menu__list__item
				a(href="#") наша команда
		ul.footer__menu__list
			li.footer__menu__list__title А еще...
			li.footer__menu__list__item
				a(href="#") контакты
			li.footer__menu__list__item
				a(href="javascript:void(0)" data-js='popUpBtnLogin') Личный кабинет
			li.footer__menu__list__item
				a(href="#") Документы
			li.footer__menu__list__item
				a(href="#") Прайсы
			li.footer__menu__list__item
				a(href="#") Новости
			li.footer__menu__list__item
				a(href="#") Вопросы и ответы (FAQ)
		.footer__menu__contacts.footer-cotacts
			.footer-cotacts__social
				a.new-btn(href='javascript:void(0)' class='new-btn--icon new-btn--transparent')
					span.new-btn__icon
						svg
							use(xlink:href=`img/sprites/sprite.svg#footer_telegram`)
				a.new-btn(href='javascript:void(0)' class='new-btn--icon new-btn--transparent')
					span.new-btn__icon
						svg
							use(xlink:href=`img/sprites/sprite.svg#footer_vk`)
			.footer-cotacts__contacts
				a(href="mailto:info@skyfish.ru") info@skyfish.ru
				a(href="tel:74922521233") +7 (4922) 52-12-33
	a(href="#").btn--box.footer__btn
		.btn.btn--circle
			svg
				use(xlink:href=`img/sprites/sprite.svg#arrow_btn`)
		.btn--box__text Заказать звонок
	.footer__agreement
		.footer__agreement__date.text__12 © 2023 — 2024
		a(href="#").footer__agreement__text.text__12 
			!="Пользовательское <br>соглашение"