section.category-desc
    .container.category-desc__container
        .title.title--h2.category-desc__title
            h2 Продажа свежей рыбы высочайшего качества - идеальный выбор для гурманов!
        .category-desc__text.text-block
            p Добро пожаловать в&nbsp;наш магазин, где мы предлагаем широкий ассортимент свежей и&nbsp;качественной рыбы для истинных гурманов.  Мы заботимся о&nbsp;том, чтобы каждый наш клиент получил только лучшую продукцию, поэтому мы работаем только с&nbsp;проверенными поставщиками и&nbsp;следим за&nbsp;свежестью товара.
            p В нашем каталоге вы найдете:
            ul 
                li Субпродукты
                li Морепродукты
                li Рыбопродукты


