.category-desc {
    padding: vw(35) 0 vw(262);
    background-color: $greyBg;
    @include max(md) {
        padding: vw2(35) 0 vw2(150);
    }
    &__container {
        display: flex;
        justify-content: space-between;
        @include max(md) {
            flex-direction: column;
            gap: vw2(24px);
        }
    }
    &__title {
        max-width: vw(575);
        font-size: vw(32);
        font-weight: 500;
        line-height: 1.28;
        color: $fontBlack;
        @include max(md) {
            max-width: 100%;
            font-size: vw2(32);
        }
    }
    &__text {
        max-width: vw(756);
        @include max(md) {
            max-width: 100%;
        }
        p+p {
            margin-top: vw(27);
        }
        ul {
            list-style-type: none;
            padding-left: 0 !important;
            li {
                margin-bottom: 0 !important;
                &::before {
                    content: none !important;
                }
            }
        }
    }
}