section.ap-career.js-career-section(style="background-image: url(./img/ap_career_bg.png)")
    .container
        .ap-career__info
            +title('h2', 'Карьера в Sky Fish', 'ap-career__title')
            +new-btn({ 
                classes: 'ap-career__btn',       
                text: 'Подробнее',
                vMode: 'big',
                cMode: 'blue'
            })
            .ap-career__wrapper
                .ap-career__text Мы быстрорастущая и&nbsp;инновационная компания, которая меняет представление о&nbsp;том, как должна выглядеть успешная карьера. Мы стремимся создавать среду, где каждый сотрудник может раскрыть свой потенциал и&nbsp;достичь новых высот.
