section.ap-career
    .container
        .ap-career__info
            +title('h2', 'Карьера в Sky Fish', 'ap-career__title')
            +new-btn({ 
                classes: 'ap-career__btn',       
                text: 'Подробнее',
                vMode: 'big',
                cMode: 'blue'
            })
            .ap-career__wrapper
                .ap-career__text Мы быстрорастущая и инновационная компания, которая меняет представление о том, как должна выглядеть успешная карьера. Мы стремимся создавать среду, где каждый сотрудник может раскрыть свой потенциал и достичь новых высот.
