.ap-career {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: vw(814) 0 vw(29);
    background-size: cover;

    @include max(xl) {
        padding: vwf(814) 0 vwf(29);
    }

    @include max(md) {
        position: relative;
        padding: vw2(200) 0 vw(20);
    }

    &__info {
        background-color: $white;
        background-image: url("../img/ap_waves_light.png");
        background-size: vw(966) auto;
        background-repeat: no-repeat;
        background-position: right 0 top 0;
        padding: vw(30);
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @include max(xl) {
            background-size: vwf(966) auto;
            padding: vwf(30);
        }

        @include max(md) {
            flex-direction: column;
            background-size: vw2(366) auto;
            padding: vw2(40) vw2(15);
        }
    }

    &__title {
        max-width: vw(440);
        font-size: vw(82);
        font-weight: 500;
        line-height: 0.97;
        color: $fontBlack;
        text-transform: uppercase;

        @include max(xl) {
            max-width: vwf(440);
            font-size: vwf(82);
        }

        @include max(md) {
            max-width: vw2(440);
            font-size: vw2(32);
        }
    }

    &__wrapper {
        flex-basis: 100%;
        margin-top: vw(96);

        @include max(xl) {
            margin-top: vwf(96);
        }

        @include max(md) {
            flex-basis: auto;
            margin-top: vw2(25);
        }
    }

    &__text {
        max-width: vw(535);
        font-size: vw(32);
        font-weight: 400;
        line-height: 1;
        letter-spacing: -0.01em;
        color: $fontBlack;
        opacity: 60%;

        @include max(xl) {
            max-width: vwf(535);
            font-size: vwf(32);
        }

        @include max(md) {
            max-width: vw2(335);
            font-size: vw2(20);
        }
    }

    &__btn.new-btn {
        @include max(md) {
            order: 2;
            margin-top: vw2(30);
        }

        &:hover {
            background-color: $blueHover;

            .new-btn__text {
                color: $white;
            }

            .new-btn__icon {
                background-color: $white;

                svg use {
                    stroke: $fontBlack;
                }
            }
        }
    }
}