.l-vacancies {
    padding: vw(37) 0 vw(30);
    overflow: hidden;
    @include max(md) {
        padding: vw2(35) 0 vw2(30);
    }

    &__container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        min-height: vw(750);
        gap: vw(140);
        @include max(md) {
            min-height: auto;
            gap: vw2(30);
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        @include max(md) {
            display: contents;
        }
    }

    &__title {
        flex-basis: vw(705);
        flex-shrink: 0;
        flex-grow: 0;
        font-size: vw(60);
        @include max(md) {
            flex-basis: auto;
            width: calc(100% - vw(150));
        }
    }

    &__btns {
        display: flex;
        align-items: center;
        gap: vw(29);
        flex-basis: vw(915);
        flex-shrink: 0;
        flex-grow: 0;
        @include max(md) {
            flex-basis: auto;
            flex-direction: column;
            gap: vw2(15);
            order: 2;
        }
    }

    &__btn {
        .new-btn__icon svg use {
            stroke: $white;
        }
    }

    &__card {
        min-height: vw(393);
    }

    &__slider {
        position: relative;
        flex-basis: 100%;
        @include max(md) {
        }
    }

    &__slide {
        width: vw(757);
        @include max(md) {
            width: auto;
        }
    }

    &__control {
        width: vw(59);
        height: vw(59);
        background-color: $blueLight;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        transition: $tr-time;
        top: vw(-67);
        opacity: 1;
        @include max(md) {
            width: vw2(50);
            height: vw2(50);
            opacity: 1;
            top: vw2(-55);
        } 
        &::after {
            content: none;
        }
        &:hover {
            background-color: $blueHover;
        }
        svg {
            width: vw(11);
            height: vw(8);
            @include max(md) {
                width: vw2(11);
                height: vw2(8);
            } 
            use {
                stroke: $white;
                fill: none;
                width: vw(11);
                height: vw(8);
                @include max(md) {
                    width: vw2(11);
                    height: vw2(8);
                } 
            }
        } 
        &.swiper-button-prev {
            transform: rotate(180deg);
            right: vw(70);
            left: auto;
            @include max(md) {
                right: vw2(70);
            } 
        }
        &.swiper-button-next {
            right: 0;
        }
    }
}

.l-vacancies.production__vacancies {
    .l-vacancies__title {
        flex-basis: vw(650); 
    }
}